[submodule "rtl/ram"]
	path = rtl/ram
	url = git@github.com:kevintownsend/ram.git
[submodule "rtl/std_fifo"]
	path = rtl/std_fifo
	url = git@github.com:kevintownsend/std_fifo.git
[submodule "rtl/common"]
	path = rtl/common
	url = git@github.com:kevintownsend/common.git
[submodule "rtl/decoders"]
	path = rtl/decoders
	url = git@github.com:kevintownsend/decoders.git
[submodule "src/smac"]
	path = src/smac
	url = git@github.com:kevintownsend/smac.git
