# Async crossing
NET "ae_top/i_clk" TNM_NET = "TN_CLKREF";
NET "ae_top/core/cae_pers/clk_per" TNM_NET = "TN_CLKPER";
TIMESPEC "TS_REF2PER" = FROM "TN_CLKREF" TO "TN_CLKPER" 6.667ns DATAPATHONLY;
TIMESPEC "TS_PER2REF" = FROM "TN_CLKPER" TO "TN_CLKREF" 6.667ns DATAPATHONLY;

NET "ae_top/i_clk_csr" TNM_NET = "TN_CLKCSR";
TIMESPEC "TS_CSR2PER" = FROM "TN_CLKCSR" TO "TN_CLKPER" 6.667ns DATAPATHONLY;
TIMESPEC "TS_PER2CSR" = FROM "TN_CLKPER" TO "TN_CLKCSR" 6.667ns DATAPATHONLY;
