#
# Start mc0 block assignments
#
INST "ae_top/io/mc0algn" AREA_GROUP = "AG_mc0" ;
INST "ae_top/io/mcqddr0" AREA_GROUP = "AG_mc0" ;
INST "ae_top/io/mc0do" AREA_GROUP = "AG_mc0" ;
INST "ae_top/io/mc0di" AREA_GROUP = "AG_mc0" ;
INST "ae_top/io/mc0s" AREA_GROUP = "AG_mc0" ;
INST "ae_top/io/mcsrsk0/*" AREA_GROUP = "AG_mc0" ;
INST "ae_top/core/mc0/ae_mc_if/*" AREA_GROUP = "AG_mc0" ;
INST "ae_top/core/mc0/wr_cmp_if/*" AREA_GROUP = "AG_mc0" ;
AREA_GROUP "AG_mc0" RANGE=SLICE_X176Y90:SLICE_X191Y159 ;

INST "ae_top/core/mc0/ae_mc_if/mc_xbq0/td_ctl_fifo/ctl_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X5Y30;
INST "ae_top/core/mc0/ae_mc_if/mc_xbq0/td_ctl_fifo/td_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X5Y29;
INST "ae_top/core/mc0/ae_mc_if/mc_xbq0/td_ctl_fifo/td_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[1].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X5Y28;
INST "ae_top/core/mc0/ae_mc_if/mc_xbq1/td_ctl_fifo/ctl_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X5Y27;
INST "ae_top/core/mc0/ae_mc_if/mc_xbq1/td_ctl_fifo/td_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X5Y26;
INST "ae_top/core/mc0/ae_mc_if/mc_xbq1/td_ctl_fifo/td_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[1].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X5Y25;
INST "ae_top/core/mc0/ae_mc_if/wrd_rdctl_buf/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X5Y24;
INST "ae_top/core/mc0/ae_mc_if/wrd_rdctl_buf/BU2/U0/blk_mem_generator/valid.cstr/ramloop[1].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X5Y23;
INST "ae_top/core/mc0/ae_mc_if/rd_rs_buf/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X5Y22;
INST "ae_top/core/mc0/ae_mc_if/rd_rs_buf/BU2/U0/blk_mem_generator/valid.cstr/ramloop[1].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X5Y21;
INST "ae_top/core/mc0/ae_mc_if/tidchkr/acttidram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/TRUE_DP.SIMPLE_PRIM18.ram" LOC = RAMB18_X5Y40;
INST "ae_top/core/mc0/wr_cmp_if/wtid_tracker/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM18.ram" LOC = RAMB18_X5Y41;
#
# End mc0 block assignments
#

#
# Start mc1 block assignments
#
INST "ae_top/io/mc1algn" AREA_GROUP = "AG_mc1" ;
INST "ae_top/io/mcqddr1" AREA_GROUP = "AG_mc1" ;
INST "ae_top/io/mc1do" AREA_GROUP = "AG_mc1" ;
INST "ae_top/io/mc1di" AREA_GROUP = "AG_mc1" ;
INST "ae_top/io/mc1s" AREA_GROUP = "AG_mc1" ;
INST "ae_top/io/mcsrsk1/*" AREA_GROUP = "AG_mc1" ;
INST "ae_top/core/mc1/ae_mc_if/*" AREA_GROUP = "AG_mc1" ;
INST "ae_top/core/mc1/wr_cmp_if/*" AREA_GROUP = "AG_mc1" ;
AREA_GROUP "AG_mc1" RANGE=SLICE_X176Y0:SLICE_X191Y69 ;

INST "ae_top/core/mc1/ae_mc_if/mc_xbq0/td_ctl_fifo/ctl_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X5Y12;
INST "ae_top/core/mc1/ae_mc_if/mc_xbq0/td_ctl_fifo/td_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X5Y11;
INST "ae_top/core/mc1/ae_mc_if/mc_xbq0/td_ctl_fifo/td_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[1].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X5Y10;
INST "ae_top/core/mc1/ae_mc_if/mc_xbq1/td_ctl_fifo/ctl_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X5Y9;
INST "ae_top/core/mc1/ae_mc_if/mc_xbq1/td_ctl_fifo/td_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X5Y8;
INST "ae_top/core/mc1/ae_mc_if/mc_xbq1/td_ctl_fifo/td_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[1].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X5Y7;
INST "ae_top/core/mc1/ae_mc_if/wrd_rdctl_buf/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X5Y6;
INST "ae_top/core/mc1/ae_mc_if/wrd_rdctl_buf/BU2/U0/blk_mem_generator/valid.cstr/ramloop[1].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X5Y5;
INST "ae_top/core/mc1/ae_mc_if/rd_rs_buf/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X5Y4;
INST "ae_top/core/mc1/ae_mc_if/rd_rs_buf/BU2/U0/blk_mem_generator/valid.cstr/ramloop[1].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X5Y3;
INST "ae_top/core/mc1/ae_mc_if/tidchkr/acttidram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/TRUE_DP.SIMPLE_PRIM18.ram" LOC = RAMB18_X5Y4;
INST "ae_top/core/mc1/wr_cmp_if/wtid_tracker/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM18.ram" LOC = RAMB18_X5Y27;
#
# End mc1 block assignments
#

#
# Start mc2 block assignments
#
INST "ae_top/io/mc2algn" AREA_GROUP = "AG_mc2" ;
INST "ae_top/io/mcqddr2" AREA_GROUP = "AG_mc2" ;
INST "ae_top/io/mc2do" AREA_GROUP = "AG_mc2" ;
INST "ae_top/io/mc2di" AREA_GROUP = "AG_mc2" ;
INST "ae_top/io/mc2s" AREA_GROUP = "AG_mc2" ;
INST "ae_top/io/mcsrsk2/*" AREA_GROUP = "AG_mc2" ;
INST "ae_top/core/mc2/ae_mc_if/*" AREA_GROUP = "AG_mc2" ;
INST "ae_top/core/mc2/wr_cmp_if/*" AREA_GROUP = "AG_mc2" ;
AREA_GROUP "AG_mc2" RANGE=SLICE_X140Y0:SLICE_X155Y69 ;

INST "ae_top/core/mc2/ae_mc_if/mc_xbq0/td_ctl_fifo/ctl_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X4Y12;
INST "ae_top/core/mc2/ae_mc_if/mc_xbq0/td_ctl_fifo/td_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X4Y11;
INST "ae_top/core/mc2/ae_mc_if/mc_xbq0/td_ctl_fifo/td_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[1].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X4Y10;
INST "ae_top/core/mc2/ae_mc_if/mc_xbq1/td_ctl_fifo/ctl_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X4Y9;
INST "ae_top/core/mc2/ae_mc_if/mc_xbq1/td_ctl_fifo/td_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X4Y8;
INST "ae_top/core/mc2/ae_mc_if/mc_xbq1/td_ctl_fifo/td_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[1].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X4Y7;
INST "ae_top/core/mc2/ae_mc_if/wrd_rdctl_buf/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X4Y6;
INST "ae_top/core/mc2/ae_mc_if/wrd_rdctl_buf/BU2/U0/blk_mem_generator/valid.cstr/ramloop[1].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X4Y5;
INST "ae_top/core/mc2/ae_mc_if/rd_rs_buf/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X4Y4;
INST "ae_top/core/mc2/ae_mc_if/rd_rs_buf/BU2/U0/blk_mem_generator/valid.cstr/ramloop[1].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X4Y3;
INST "ae_top/core/mc2/ae_mc_if/tidchkr/acttidram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/TRUE_DP.SIMPLE_PRIM18.ram" LOC = RAMB18_X4Y4;
INST "ae_top/core/mc2/wr_cmp_if/wtid_tracker/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM18.ram" LOC = RAMB18_X4Y27;
#
# End mc2 block assignments
#

#
# Start mc3 block assignments
#
INST "ae_top/io/mc3algn" AREA_GROUP = "AG_mc3" ;
INST "ae_top/io/mcqddr3" AREA_GROUP = "AG_mc3" ;
INST "ae_top/io/mc3do" AREA_GROUP = "AG_mc3" ;
INST "ae_top/io/mc3di" AREA_GROUP = "AG_mc3" ;
INST "ae_top/io/mc3s" AREA_GROUP = "AG_mc3" ;
INST "ae_top/io/mcsrsk3/*" AREA_GROUP = "AG_mc3" ;
INST "ae_top/core/mc3/ae_mc_if/*" AREA_GROUP = "AG_mc3" ;
INST "ae_top/core/mc3/wr_cmp_if/*" AREA_GROUP = "AG_mc3" ;
AREA_GROUP "AG_mc3" RANGE=SLICE_X140Y90:SLICE_X155Y159 ;

INST "ae_top/core/mc3/ae_mc_if/mc_xbq0/td_ctl_fifo/ctl_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X4Y30;
INST "ae_top/core/mc3/ae_mc_if/mc_xbq0/td_ctl_fifo/td_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X4Y29;
INST "ae_top/core/mc3/ae_mc_if/mc_xbq0/td_ctl_fifo/td_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[1].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X4Y28;
INST "ae_top/core/mc3/ae_mc_if/mc_xbq1/td_ctl_fifo/ctl_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X4Y27;
INST "ae_top/core/mc3/ae_mc_if/mc_xbq1/td_ctl_fifo/td_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X4Y26;
INST "ae_top/core/mc3/ae_mc_if/mc_xbq1/td_ctl_fifo/td_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[1].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X4Y25;
INST "ae_top/core/mc3/ae_mc_if/wrd_rdctl_buf/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X4Y24;
INST "ae_top/core/mc3/ae_mc_if/wrd_rdctl_buf/BU2/U0/blk_mem_generator/valid.cstr/ramloop[1].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X4Y23;
INST "ae_top/core/mc3/ae_mc_if/rd_rs_buf/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X4Y22;
INST "ae_top/core/mc3/ae_mc_if/rd_rs_buf/BU2/U0/blk_mem_generator/valid.cstr/ramloop[1].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X4Y21;
INST "ae_top/core/mc3/ae_mc_if/tidchkr/acttidram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/TRUE_DP.SIMPLE_PRIM18.ram" LOC = RAMB18_X4Y40;
INST "ae_top/core/mc3/wr_cmp_if/wtid_tracker/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM18.ram" LOC = RAMB18_X4Y41;
#
# End mc3 block assignments
#

#
# Start mc4 block assignments
#
INST "ae_top/io/mc4algn" AREA_GROUP = "AG_mc4" ;
INST "ae_top/io/mcqddr4" AREA_GROUP = "AG_mc4" ;
INST "ae_top/io/mc4do" AREA_GROUP = "AG_mc4" ;
INST "ae_top/io/mc4di" AREA_GROUP = "AG_mc4" ;
INST "ae_top/io/mc4s" AREA_GROUP = "AG_mc4" ;
INST "ae_top/io/mcsrsk4/*" AREA_GROUP = "AG_mc4" ;
INST "ae_top/core/mc4/ae_mc_if/*" AREA_GROUP = "AG_mc4" ;
INST "ae_top/core/mc4/wr_cmp_if/*" AREA_GROUP = "AG_mc4" ;
AREA_GROUP "AG_mc4" RANGE=SLICE_X176Y200:SLICE_X191Y269 ;

INST "ae_top/core/mc4/ae_mc_if/mc_xbq0/td_ctl_fifo/ctl_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X5Y52;
INST "ae_top/core/mc4/ae_mc_if/mc_xbq0/td_ctl_fifo/td_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X5Y51;
INST "ae_top/core/mc4/ae_mc_if/mc_xbq0/td_ctl_fifo/td_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[1].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X5Y50;
INST "ae_top/core/mc4/ae_mc_if/mc_xbq1/td_ctl_fifo/ctl_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X5Y49;
INST "ae_top/core/mc4/ae_mc_if/mc_xbq1/td_ctl_fifo/td_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X5Y48;
INST "ae_top/core/mc4/ae_mc_if/mc_xbq1/td_ctl_fifo/td_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[1].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X5Y47;
INST "ae_top/core/mc4/ae_mc_if/wrd_rdctl_buf/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X5Y46;
INST "ae_top/core/mc4/ae_mc_if/wrd_rdctl_buf/BU2/U0/blk_mem_generator/valid.cstr/ramloop[1].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X5Y45;
INST "ae_top/core/mc4/ae_mc_if/rd_rs_buf/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X5Y44;
INST "ae_top/core/mc4/ae_mc_if/rd_rs_buf/BU2/U0/blk_mem_generator/valid.cstr/ramloop[1].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X5Y43;
INST "ae_top/core/mc4/ae_mc_if/tidchkr/acttidram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/TRUE_DP.SIMPLE_PRIM18.ram" LOC = RAMB18_X5Y84;
INST "ae_top/core/mc4/wr_cmp_if/wtid_tracker/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM18.ram" LOC = RAMB18_X5Y85;
#
# End mc4 block assignments
#

#
# Start mc5 block assignments
#
INST "ae_top/io/mc5algn" AREA_GROUP = "AG_mc5" ;
INST "ae_top/io/mcqddr5" AREA_GROUP = "AG_mc5" ;
INST "ae_top/io/mc5do" AREA_GROUP = "AG_mc5" ;
INST "ae_top/io/mc5di" AREA_GROUP = "AG_mc5" ;
INST "ae_top/io/mc5s" AREA_GROUP = "AG_mc5" ;
INST "ae_top/io/mcsrsk5/*" AREA_GROUP = "AG_mc5" ;
INST "ae_top/core/mc5/ae_mc_if/*" AREA_GROUP = "AG_mc5" ;
INST "ae_top/core/mc5/wr_cmp_if/*" AREA_GROUP = "AG_mc5" ;
AREA_GROUP "AG_mc5" RANGE=SLICE_X176Y290:SLICE_X191Y359 ;

INST "ae_top/core/mc5/ae_mc_if/mc_xbq0/td_ctl_fifo/ctl_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X5Y70;
INST "ae_top/core/mc5/ae_mc_if/mc_xbq0/td_ctl_fifo/td_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X5Y69;
INST "ae_top/core/mc5/ae_mc_if/mc_xbq0/td_ctl_fifo/td_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[1].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X5Y68;
INST "ae_top/core/mc5/ae_mc_if/mc_xbq1/td_ctl_fifo/ctl_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X5Y67;
INST "ae_top/core/mc5/ae_mc_if/mc_xbq1/td_ctl_fifo/td_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X5Y66;
INST "ae_top/core/mc5/ae_mc_if/mc_xbq1/td_ctl_fifo/td_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[1].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X5Y65;
INST "ae_top/core/mc5/ae_mc_if/wrd_rdctl_buf/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X5Y64;
INST "ae_top/core/mc5/ae_mc_if/wrd_rdctl_buf/BU2/U0/blk_mem_generator/valid.cstr/ramloop[1].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X5Y63;
INST "ae_top/core/mc5/ae_mc_if/rd_rs_buf/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X5Y62;
INST "ae_top/core/mc5/ae_mc_if/rd_rs_buf/BU2/U0/blk_mem_generator/valid.cstr/ramloop[1].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X5Y61;
INST "ae_top/core/mc5/ae_mc_if/tidchkr/acttidram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/TRUE_DP.SIMPLE_PRIM18.ram" LOC = RAMB18_X5Y120;
INST "ae_top/core/mc5/wr_cmp_if/wtid_tracker/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM18.ram" LOC = RAMB18_X5Y121;
#
# End mc5 block assignments
#

#
# Start mc6 block assignments
#
INST "ae_top/io/mc6algn" AREA_GROUP = "AG_mc6" ;
INST "ae_top/io/mcqddr6" AREA_GROUP = "AG_mc6" ;
INST "ae_top/io/mc6do" AREA_GROUP = "AG_mc6" ;
INST "ae_top/io/mc6di" AREA_GROUP = "AG_mc6" ;
INST "ae_top/io/mc6s" AREA_GROUP = "AG_mc6" ;
INST "ae_top/io/mcsrsk6/*" AREA_GROUP = "AG_mc6" ;
INST "ae_top/core/mc6/ae_mc_if/*" AREA_GROUP = "AG_mc6" ;
INST "ae_top/core/mc6/wr_cmp_if/*" AREA_GROUP = "AG_mc6" ;
AREA_GROUP "AG_mc6" RANGE=SLICE_X140Y290:SLICE_X155Y359 ;

INST "ae_top/core/mc6/ae_mc_if/mc_xbq0/td_ctl_fifo/ctl_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X4Y70;
INST "ae_top/core/mc6/ae_mc_if/mc_xbq0/td_ctl_fifo/td_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X4Y69;
INST "ae_top/core/mc6/ae_mc_if/mc_xbq0/td_ctl_fifo/td_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[1].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X4Y68;
INST "ae_top/core/mc6/ae_mc_if/mc_xbq1/td_ctl_fifo/ctl_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X4Y67;
INST "ae_top/core/mc6/ae_mc_if/mc_xbq1/td_ctl_fifo/td_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X4Y66;
INST "ae_top/core/mc6/ae_mc_if/mc_xbq1/td_ctl_fifo/td_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[1].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X4Y65;
INST "ae_top/core/mc6/ae_mc_if/wrd_rdctl_buf/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X4Y64;
INST "ae_top/core/mc6/ae_mc_if/wrd_rdctl_buf/BU2/U0/blk_mem_generator/valid.cstr/ramloop[1].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X4Y63;
INST "ae_top/core/mc6/ae_mc_if/rd_rs_buf/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X4Y62;
INST "ae_top/core/mc6/ae_mc_if/rd_rs_buf/BU2/U0/blk_mem_generator/valid.cstr/ramloop[1].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X4Y61;
INST "ae_top/core/mc6/ae_mc_if/tidchkr/acttidram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/TRUE_DP.SIMPLE_PRIM18.ram" LOC = RAMB18_X4Y120;
INST "ae_top/core/mc6/wr_cmp_if/wtid_tracker/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM18.ram" LOC = RAMB18_X4Y121;
#
# End mc6 block assignments
#

#
# Start mc7 block assignments
#
INST "ae_top/io/mc7algn" AREA_GROUP = "AG_mc7" ;
INST "ae_top/io/mcqddr7" AREA_GROUP = "AG_mc7" ;
INST "ae_top/io/mc7do" AREA_GROUP = "AG_mc7" ;
INST "ae_top/io/mc7di" AREA_GROUP = "AG_mc7" ;
INST "ae_top/io/mc7s" AREA_GROUP = "AG_mc7" ;
INST "ae_top/io/mcsrsk7/*" AREA_GROUP = "AG_mc7" ;
INST "ae_top/core/mc7/ae_mc_if/*" AREA_GROUP = "AG_mc7" ;
INST "ae_top/core/mc7/wr_cmp_if/*" AREA_GROUP = "AG_mc7" ;
AREA_GROUP "AG_mc7" RANGE=SLICE_X140Y200:SLICE_X155Y269 ;

INST "ae_top/core/mc7/ae_mc_if/mc_xbq0/td_ctl_fifo/ctl_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X4Y52;
INST "ae_top/core/mc7/ae_mc_if/mc_xbq0/td_ctl_fifo/td_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X4Y51;
INST "ae_top/core/mc7/ae_mc_if/mc_xbq0/td_ctl_fifo/td_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[1].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X4Y50;
INST "ae_top/core/mc7/ae_mc_if/mc_xbq1/td_ctl_fifo/ctl_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X4Y49;
INST "ae_top/core/mc7/ae_mc_if/mc_xbq1/td_ctl_fifo/td_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X4Y48;
INST "ae_top/core/mc7/ae_mc_if/mc_xbq1/td_ctl_fifo/td_dpram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[1].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X4Y47;
INST "ae_top/core/mc7/ae_mc_if/wrd_rdctl_buf/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X4Y46;
INST "ae_top/core/mc7/ae_mc_if/wrd_rdctl_buf/BU2/U0/blk_mem_generator/valid.cstr/ramloop[1].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X4Y45;
INST "ae_top/core/mc7/ae_mc_if/rd_rs_buf/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X4Y44;
INST "ae_top/core/mc7/ae_mc_if/rd_rs_buf/BU2/U0/blk_mem_generator/valid.cstr/ramloop[1].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM36.ram" LOC = RAMB36_X4Y43;
INST "ae_top/core/mc7/ae_mc_if/tidchkr/acttidram/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/TRUE_DP.SIMPLE_PRIM18.ram" LOC = RAMB18_X4Y84;
INST "ae_top/core/mc7/wr_cmp_if/wtid_tracker/BU2/U0/blk_mem_generator/valid.cstr/ramloop[0].ram.r/v6_noinit.ram/SDP.SIMPLE_PRIM18.ram" LOC = RAMB18_X4Y85;
#
# End mc7 block assignments
#
