
# set period for regional and io iqdr clks to 250 MHz
#use strobe signal to set clock period
#
NET "*prv_ae_stb_i_p" TNM_NET=prv_ae_stb;
TIMESPEC TS_prv_ae_stb_ = PERIOD "prv_ae_stb" TS_CLK/2 HIGH 50%;

NET "*nxt_ae_stb_i_p" TNM_NET=nxt_ae_stb;
TIMESPEC TS_nxt_ae_stb_ = PERIOD "nxt_ae_stb" TS_CLK/2 HIGH 50%;

#SR STROBES 
NET "*ae_sr_o_p[2]" TNM_NET=nxt_ae_sr0_stb;
TIMESPEC TS_nxt_ae_sr0_stb_ = PERIOD "nxt_ae_sr0_stb" TS_CLK/2 HIGH 50%;

NET "*ae_sr_o_p[30]" TNM_NET=nxt_ae_sr1_stb;
TIMESPEC TS_nxt_ae_sr1_stb_ = PERIOD "nxt_ae_sr1_stb" TS_CLK/2 HIGH 50%;


NET "ae_top/i_clk_csr" TNM_NET = "TN_CLK83";
NET "ae_top/i_clk" TNM_NET = "TN_CLK150";
NET "ae_top/io/i_prvae_rclk" TNM_NET = "TN_CLKPRVAE_RCLK";
NET "ae_top/io/i_nxtae_rclk" TNM_NET = "TN_CLKNXTAE_RCLK";
NET "ae_top/io/i_nxtae_sr0_rclk" TNM_NET = "TN_CLKNXTAE_SR0_RCLK";
NET "ae_top/io/i_nxtae_sr1_rclk" TNM_NET = "TN_CLKNXTAE_SR1_RCLK";


TIMESPEC "TS_CLK83_CLKPRVAE_TIG" = FROM "TN_CLK83" TO "TN_CLKPRVAE_RCLK" TIG;
TIMESPEC "TS_CLKPRV_CLK83_TIG" = FROM "TN_CLKPRVAE_RCLK" TO "TN_CLK83" TIG;

TIMESPEC "TS_CLK83_CLKNXTAE_TIG" = FROM "TN_CLK83" TO "TN_CLKNXTAE_RCLK" TIG;
TIMESPEC "TS_CLKNXTAE_CLK83_TIG" = FROM "TN_CLKNXTAE_RCLK" TO "TN_CLK83" TIG;

TIMESPEC "TS_CLK83_CLKNXTAESR0_TIG" = FROM "TN_CLK83" TO "TN_CLKNXTAE_SR0_RCLK" TIG;
TIMESPEC "TS_CLKNXTAESR0_CLK83_TIG" = FROM "TN_CLKNXTAE_SR0_RCLK" TO "TN_CLK83" TIG;

TIMESPEC "TS_CLK83_CLKNXTAESR1_TIG" = FROM "TN_CLK83" TO "TN_CLKNXTAE_SR1_RCLK" TIG;
TIMESPEC "TS_CLKNXTAESR1_CLK83_TIG" = FROM "TN_CLKNXTAE_SR1_RCLK" TO "TN_CLK83" TIG;

TIMESPEC "TS_CLK150_CLKPRVAE_TIG" = FROM "TN_CLK150" TO "TN_CLKPRVAE_RCLK" TIG;
TIMESPEC "TS_CLKPRV_CLK150_TIG" = FROM "TN_CLKPRVAE_RCLK" TO "TN_CLK150" TIG;

TIMESPEC "TS_CLK150_CLKNXTAE_TIG" = FROM "TN_CLK150" TO "TN_CLKNXTAE_RCLK" TIG;
TIMESPEC "TS_CLKNXTAE_CLK150_TIG" = FROM "TN_CLKNXTAE_RCLK" TO "TN_CLK150" TIG;

TIMESPEC "TS_CLK150_CLKNXTAESR0_TIG" = FROM "TN_CLK150" TO "TN_CLKNXTAE_SR0_RCLK" TIG;
TIMESPEC "TS_CLKNXTAESR0_CLK150_TIG" = FROM "TN_CLKNXTAE_SR0_RCLK" TO "TN_CLK150" TIG;

TIMESPEC "TS_CLK150_CLKNXTAESR1_TIG" = FROM "TN_CLK150" TO "TN_CLKNXTAE_SR1_RCLK" TIG;
TIMESPEC "TS_CLKNXTAESR1_CLK150_TIG" = FROM "TN_CLKNXTAE_SR1_RCLK" TO "TN_CLK150" TIG;





