#$Header: /cvs/pdk_lib/phys/hc-1ex/pins.ucf,v 1.3 2011/08/29 20:15:49 gedwards Exp $
#$Author: gedwards $
#$ Revision: 1.35 $



#===============================================
#	USER DEFINED PIN LOCATIONS
# ===============================================
NET "ae_aeh_dq<0>" IOSTANDARD = HSTL_I;
NET "ae_aeh_dq<0>" LOC = "AP36";
NET "ae_aeh_dq<1>" IOSTANDARD = HSTL_I;
NET "ae_aeh_dq<1>" LOC = "AP35";
NET "ae_aeh_dq<2>" IOSTANDARD = HSTL_I;
NET "ae_aeh_dq<2>" LOC = "AL31";
NET "ae_aeh_dq<3>" IOSTANDARD = HSTL_I;
NET "ae_aeh_dq<3>" LOC = "AH30";
NET "ae_aeh_dq<4>" IOSTANDARD = HSTL_I;
NET "ae_aeh_dq<4>" LOC = "AJ31";
NET "ae_aeh_dq<5>" IOSTANDARD = HSTL_I;
NET "ae_aeh_dq<5>" LOC = "AN36";
NET "ae_aeh_dq<6>" IOSTANDARD = HSTL_I;
NET "ae_aeh_dq<6>" LOC = "AP37";
NET "ae_aeh_dq<7>" IOSTANDARD = HSTL_I;
NET "ae_aeh_dq<7>" LOC = "AR37";
NET "ae_aeh_dq<8>" IOSTANDARD = HSTL_I;
NET "ae_aeh_dq<8>" LOC = "AM36";
NET "ae_aeh_dq<9>" IOSTANDARD = HSTL_I;
NET "ae_aeh_dq<9>" LOC = "AK34";
NET "ae_aeh_dq<10>" IOSTANDARD = HSTL_I;
NET "ae_aeh_dq<10>" LOC = "AR39";
NET "ae_aeh_dq<11>" IOSTANDARD = HSTL_I;
NET "ae_aeh_dq<11>" LOC = "AT39";
NET "ae_aeh_dq<12>" IOSTANDARD = HSTL_I;
NET "ae_aeh_dq<12>" LOC = "AH31";
NET "ae_aeh_dq<13>" IOSTANDARD = HSTL_I;
NET "ae_aeh_dq<13>" LOC = "AJ32";
NET "ae_aeh_dq<14>" IOSTANDARD = HSTL_I;
NET "ae_aeh_dq<14>" LOC = "AP38";
NET "ae_aeh_dq<15>" IOSTANDARD = HSTL_I;
NET "ae_aeh_dq<15>" LOC = "AR38";
NET "ae_aeh_ndq" IOSTANDARD = HSTL_I;
NET "ae_aeh_ndq" LOC = "AR35";
NET "ae_aeh_par" IOSTANDARD = HSTL_I;
NET "ae_aeh_par" LOC = "AM37";
NET "ae_aeh_qc" IOSTANDARD = HSTL_I;
NET "ae_aeh_qc" LOC = "AT36";
NET "ae_aeh_stb" IOSTANDARD = HSTL_I;
NET "ae_aeh_stb" LOC = "AT37";
NET "aeh_ae_dpar" IOSTANDARD = HSTL_II_T_DCI;
NET "aeh_ae_dpar" LOC = "AN6";
NET "aeh_ae_dq<0>" IOSTANDARD = HSTL_II_T_DCI;
NET "aeh_ae_dq<0>" LOC = "AW3";
NET "aeh_ae_dq<1>" IOSTANDARD = HSTL_II_T_DCI;
NET "aeh_ae_dq<1>" LOC = "BB3";
NET "aeh_ae_dq<2>" IOSTANDARD = HSTL_II_T_DCI;
NET "aeh_ae_dq<2>" LOC = "BB4";
NET "aeh_ae_dq<3>" IOSTANDARD = HSTL_II_T_DCI;
NET "aeh_ae_dq<3>" LOC = "BB2";
NET "aeh_ae_dq<4>" IOSTANDARD = HSTL_II_T_DCI;
NET "aeh_ae_dq<4>" LOC = "BA2";
NET "aeh_ae_dq<5>" IOSTANDARD = HSTL_II_T_DCI;
NET "aeh_ae_dq<5>" LOC = "AP5";
NET "aeh_ae_dq<6>" IOSTANDARD = HSTL_II_T_DCI;
NET "aeh_ae_dq<6>" LOC = "AR5";
NET "aeh_ae_dq<7>" IOSTANDARD = HSTL_II_T_DCI;
NET "aeh_ae_dq<7>" LOC = "AM7";
NET "aeh_ae_dq<8>" IOSTANDARD = HSTL_II_T_DCI;
NET "aeh_ae_dq<8>" LOC = "AU4";
NET "aeh_ae_dq<9>" IOSTANDARD = HSTL_II_T_DCI;
NET "aeh_ae_dq<9>" LOC = "BA1";
NET "aeh_ae_dq<10>" IOSTANDARD = HSTL_II_T_DCI;
NET "aeh_ae_dq<10>" LOC = "AY2";
NET "aeh_ae_dq<11>" IOSTANDARD = HSTL_II_T_DCI;
NET "aeh_ae_dq<11>" LOC = "AK8";
NET "aeh_ae_dq<12>" IOSTANDARD = HSTL_II_T_DCI;
NET "aeh_ae_dq<12>" LOC = "AL7";
NET "aeh_ae_dq<13>" IOSTANDARD = HSTL_II_T_DCI;
NET "aeh_ae_dq<13>" LOC = "AW1";
NET "aeh_ae_dq<14>" IOSTANDARD = HSTL_II_T_DCI;
NET "aeh_ae_dq<14>" LOC = "AW2";
NET "aeh_ae_dq<15>" IOSTANDARD = HSTL_II_T_DCI;
NET "aeh_ae_dq<15>" LOC = "AJ10";
NET "aeh_ae_dstb" IOSTANDARD = HSTL_II_T_DCI;
NET "aeh_ae_dstb" LOC = "AY3";
NET "aeh_ae_inst<0>" IOSTANDARD = HSTL_II_T_DCI;
NET "aeh_ae_inst<0>" LOC = "AP7";
NET "aeh_ae_inst<1>" IOSTANDARD = HSTL_II_T_DCI;
NET "aeh_ae_inst<1>" LOC = "AT5";
NET "aeh_ae_inst<2>" IOSTANDARD = HSTL_II_T_DCI;
NET "aeh_ae_inst<2>" LOC = "AJ11";
NET "aeh_ae_inst<3>" IOSTANDARD = HSTL_II_T_DCI;
NET "aeh_ae_inst<3>" LOC = "AK10";
NET "aeh_ae_inst<4>" IOSTANDARD = HSTL_II_T_DCI;
NET "aeh_ae_inst<4>" LOC = "AY4";
NET "aeh_ae_inst<5>" IOSTANDARD = HSTL_II_T_DCI;
NET "aeh_ae_inst<5>" LOC = "AL9";
NET "aeh_ae_inst<6>" IOSTANDARD = HSTL_II_T_DCI;
NET "aeh_ae_inst<6>" LOC = "AK9";
NET "aeh_ae_inst<7>" IOSTANDARD = HSTL_II_T_DCI;
NET "aeh_ae_inst<7>" LOC = "AV4";
NET "aeh_ae_ipar" IOSTANDARD = HSTL_II_T_DCI;
NET "aeh_ae_ipar" LOC = "BA4";
NET "aeh_ae_istb" IOSTANDARD = HSTL_II_T_DCI;
NET "aeh_ae_istb" LOC = "AV5";

NET "aeid<0>" IOSTANDARD = LVCMOS15 | PULLUP;
NET "aeid<0>" LOC = "AT42";
NET "aeid<1>" IOSTANDARD = LVCMOS15 | PULLUP;
NET "aeid<1>" LOC = "AH34";

NET "ae_mc0_addr<0>" IOSTANDARD = HSTL_I;
NET "ae_mc0_addr<0>" LOC = "AN13";
NET "ae_mc0_addr<1>" IOSTANDARD = HSTL_I;
NET "ae_mc0_addr<1>" LOC = "AM13";
NET "ae_mc0_addr<2>" IOSTANDARD = HSTL_I;
NET "ae_mc0_addr<2>" LOC = "AW5";
NET "ae_mc0_addr<3>" IOSTANDARD = HSTL_I;
NET "ae_mc0_addr<3>" LOC = "AW6";
NET "ae_mc0_addr<4>" IOSTANDARD = HSTL_I;
NET "ae_mc0_addr<4>" LOC = "AM12";
NET "ae_mc0_addr<5>" IOSTANDARD = HSTL_I;
NET "ae_mc0_addr<5>" LOC = "BA6";
NET "ae_mc0_addr<6>" IOSTANDARD = HSTL_I;
NET "ae_mc0_addr<6>" LOC = "BB6";
NET "ae_mc0_addr<7>" IOSTANDARD = HSTL_I;
NET "ae_mc0_addr<7>" LOC = "AY5";
NET "ae_mc0_addr<8>" IOSTANDARD = HSTL_I;
NET "ae_mc0_addr<8>" LOC = "BA5";
NET "ae_mc0_addr<9>" IOSTANDARD = HSTL_I;
NET "ae_mc0_addr<9>" LOC = "AY7";
NET "ae_mc0_addr<10>" IOSTANDARD = HSTL_I;
NET "ae_mc0_addr<10>" LOC = "AW7";
NET "ae_mc0_addr<11>" IOSTANDARD = HSTL_I;
NET "ae_mc0_addr<11>" LOC = "AU6";
NET "ae_mc0_addr<12>" IOSTANDARD = HSTL_I;
NET "ae_mc0_addr<12>" LOC = "AR9";
NET "ae_mc0_addr<13>" IOSTANDARD = HSTL_I;
NET "ae_mc0_addr<13>" LOC = "AR7";
NET "ae_mc0_addr<14>" IOSTANDARD = HSTL_I;
NET "ae_mc0_addr<14>" LOC = "AT6";
NET "ae_mc0_addr<15>" IOSTANDARD = HSTL_I;
NET "ae_mc0_addr<15>" LOC = "AP12";
NET "ae_mc0_addr<16>" IOSTANDARD = HSTL_I;
NET "ae_mc0_addr<16>" LOC = "AP11";
NET "ae_mc0_addr<17>" IOSTANDARD = HSTL_I;
NET "ae_mc0_addr<17>" LOC = "AH16";
NET "ae_mc0_addr<18>" IOSTANDARD = HSTL_I;
NET "ae_mc0_addr<18>" LOC = "AJ16";
NET "ae_mc0_addr<19>" IOSTANDARD = HSTL_I;
NET "ae_mc0_addr<19>" LOC = "AJ15";
NET "ae_mc0_addr<20>" IOSTANDARD = HSTL_I;
NET "ae_mc0_addr<20>" LOC = "AK14";
NET "ae_mc0_addr<21>" IOSTANDARD = HSTL_I;
NET "ae_mc0_addr<21>" LOC = "AP8";
NET "ae_mc0_addr<22>" IOSTANDARD = HSTL_I;
NET "ae_mc0_addr<22>" LOC = "AP10";
NET "ae_mc0_addr<23>" IOSTANDARD = HSTL_I;
NET "ae_mc0_addr<23>" LOC = "AR10";
NET "ae_mc0_apar" IOSTANDARD = HSTL_I;
NET "ae_mc0_apar" LOC = "AN14";
NET "ae_mc0_astrb" IOSTANDARD = HSTL_I;
NET "ae_mc0_astrb" LOC = "AT9";
NET "ae_mc0_cmd" IOSTANDARD = HSTL_I;
NET "ae_mc0_cmd" LOC = "AT7";
NET "ae_mc0_dpar" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc0_dpar" LOC = "AU14";
NET "ae_mc0_dq<0>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc0_dq<0>" LOC = "AN15";
NET "ae_mc0_dq<1>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc0_dq<1>" LOC = "AP15";
NET "ae_mc0_dq<2>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc0_dq<2>" LOC = "BB8";
NET "ae_mc0_dq<3>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc0_dq<3>" LOC = "BB7";
NET "ae_mc0_dq<4>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc0_dq<4>" LOC = "AR12";
NET "ae_mc0_dq<5>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc0_dq<5>" LOC = "AT12";
NET "ae_mc0_dq<6>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc0_dq<6>" LOC = "AJ17";
NET "ae_mc0_dq<7>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc0_dq<7>" LOC = "AK17";
NET "ae_mc0_dq<8>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc0_dq<8>" LOC = "AM16";
NET "ae_mc0_dq<9>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc0_dq<9>" LOC = "BA9";
NET "ae_mc0_dq<10>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc0_dq<10>" LOC = "BB9";
NET "ae_mc0_dq<11>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc0_dq<11>" LOC = "BA7";
NET "ae_mc0_dq<12>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc0_dq<12>" LOC = "AY8";
NET "ae_mc0_dq<13>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc0_dq<13>" LOC = "AY9";
NET "ae_mc0_dq<14>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc0_dq<14>" LOC = "AW10";
NET "ae_mc0_dq<15>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc0_dq<15>" LOC = "AU13";
NET "ae_mc0_dq<16>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc0_dq<16>" LOC = "AR15";
NET "ae_mc0_dq<17>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc0_dq<17>" LOC = "AV8";
NET "ae_mc0_dq<18>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc0_dq<18>" LOC = "AW8";
NET "ae_mc0_dq<19>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc0_dq<19>" LOC = "AJ18";
NET "ae_mc0_dq<20>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc0_dq<20>" LOC = "AK18";
NET "ae_mc0_dq<21>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc0_dq<21>" LOC = "AV11";
NET "ae_mc0_dq<22>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc0_dq<22>" LOC = "AU12";
NET "ae_mc0_dq<23>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc0_dq<23>" LOC = "AV10";
NET "ae_mc0_dq<24>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc0_dq<24>" LOC = "AU11";
NET "ae_mc0_dq<25>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc0_dq<25>" LOC = "AT10";
NET "ae_mc0_dq<26>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc0_dq<26>" LOC = "AR13";
NET "ae_mc0_dq<27>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc0_dq<27>" LOC = "AR14";
NET "ae_mc0_dq<28>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc0_dq<28>" LOC = "AK15";
NET "ae_mc0_dq<29>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc0_dq<29>" LOC = "AL15";
NET "ae_mc0_dq<30>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc0_dq<30>" LOC = "AN16";
NET "ae_mc0_dq<31>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc0_dq<31>" LOC = "AP16";
NET "ae_mc0_dstrb" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc0_dstrb" LOC = "AT14";
NET "ae_mc0_size" IOSTANDARD = HSTL_I;
NET "ae_mc0_size" LOC = "AR8";
NET "ae_mc0_tid<0>" IOSTANDARD = HSTL_I;
NET "ae_mc0_tid<0>" LOC = "AJ13";
NET "ae_mc0_tid<1>" IOSTANDARD = HSTL_I;
NET "ae_mc0_tid<1>" LOC = "AK13";
NET "ae_mc0_tid<2>" IOSTANDARD = HSTL_I;
NET "ae_mc0_tid<2>" LOC = "AM11";
NET "ae_mc0_tid<3>" IOSTANDARD = HSTL_I;
NET "ae_mc0_tid<3>" LOC = "AN10";
NET "ae_mc0_wdval" IOSTANDARD = HSTL_I;
NET "ae_mc0_wdval" LOC = "AP13";
NET "ae_mc1_addr<0>" IOSTANDARD = HSTL_I;
NET "ae_mc1_addr<0>" LOC = "AM18";
NET "ae_mc1_addr<1>" IOSTANDARD = HSTL_I;
NET "ae_mc1_addr<1>" LOC = "AL19";
NET "ae_mc1_addr<2>" IOSTANDARD = HSTL_I;
NET "ae_mc1_addr<2>" LOC = "AW15";
NET "ae_mc1_addr<3>" IOSTANDARD = HSTL_I;
NET "ae_mc1_addr<3>" LOC = "AW16";
NET "ae_mc1_addr<4>" IOSTANDARD = HSTL_I;
NET "ae_mc1_addr<4>" LOC = "AT16";
NET "ae_mc1_addr<5>" IOSTANDARD = HSTL_I;
NET "ae_mc1_addr<5>" LOC = "AY14";
NET "ae_mc1_addr<6>" IOSTANDARD = HSTL_I;
NET "ae_mc1_addr<6>" LOC = "AY15";
NET "ae_mc1_addr<7>" IOSTANDARD = HSTL_I;
NET "ae_mc1_addr<7>" LOC = "AW12";
NET "ae_mc1_addr<8>" IOSTANDARD = HSTL_I;
NET "ae_mc1_addr<8>" LOC = "AW13";
NET "ae_mc1_addr<9>" IOSTANDARD = HSTL_I;
NET "ae_mc1_addr<9>" LOC = "AY13";
NET "ae_mc1_addr<10>" IOSTANDARD = HSTL_I;
NET "ae_mc1_addr<10>" LOC = "AY12";
NET "ae_mc1_addr<11>" IOSTANDARD = HSTL_I;
NET "ae_mc1_addr<11>" LOC = "AJ21";
NET "ae_mc1_addr<12>" IOSTANDARD = HSTL_I;
NET "ae_mc1_addr<12>" LOC = "AR18";
NET "ae_mc1_addr<13>" IOSTANDARD = HSTL_I;
NET "ae_mc1_addr<13>" LOC = "BB11";
NET "ae_mc1_addr<14>" IOSTANDARD = HSTL_I;
NET "ae_mc1_addr<14>" LOC = "BA12";
NET "ae_mc1_addr<15>" IOSTANDARD = HSTL_I;
NET "ae_mc1_addr<15>" LOC = "AR17";
NET "ae_mc1_addr<16>" IOSTANDARD = HSTL_I;
NET "ae_mc1_addr<16>" LOC = "AP17";
NET "ae_mc1_addr<17>" IOSTANDARD = HSTL_I;
NET "ae_mc1_addr<17>" LOC = "AK19";
NET "ae_mc1_addr<18>" IOSTANDARD = HSTL_I;
NET "ae_mc1_addr<18>" LOC = "AJ20";
NET "ae_mc1_addr<19>" IOSTANDARD = HSTL_I;
NET "ae_mc1_addr<19>" LOC = "AV15";
NET "ae_mc1_addr<20>" IOSTANDARD = HSTL_I;
NET "ae_mc1_addr<20>" LOC = "AU16";
NET "ae_mc1_addr<21>" IOSTANDARD = HSTL_I;
NET "ae_mc1_addr<21>" LOC = "BA11";
NET "ae_mc1_addr<22>" IOSTANDARD = HSTL_I;
NET "ae_mc1_addr<22>" LOC = "AM19";
NET "ae_mc1_addr<23>" IOSTANDARD = HSTL_I;
NET "ae_mc1_addr<23>" LOC = "AN19";
NET "ae_mc1_apar" IOSTANDARD = HSTL_I;
NET "ae_mc1_apar" LOC = "BB12";
NET "ae_mc1_astrb" IOSTANDARD = HSTL_I;
NET "ae_mc1_astrb" LOC = "AT17";
NET "ae_mc1_cmd" IOSTANDARD = HSTL_I;
NET "ae_mc1_cmd" LOC = "AV13";
NET "ae_mc1_dpar" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc1_dpar" LOC = "AM22";
NET "ae_mc1_dq<0>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc1_dq<0>" LOC = "AR20";
NET "ae_mc1_dq<1>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc1_dq<1>" LOC = "AP21";
NET "ae_mc1_dq<2>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc1_dq<2>" LOC = "AT20";
NET "ae_mc1_dq<3>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc1_dq<3>" LOC = "AT21";
NET "ae_mc1_dq<4>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc1_dq<4>" LOC = "AP20";
NET "ae_mc1_dq<5>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc1_dq<5>" LOC = "AN20";
NET "ae_mc1_dq<6>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc1_dq<6>" LOC = "AM21";
NET "ae_mc1_dq<7>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc1_dq<7>" LOC = "AN21";
NET "ae_mc1_dq<8>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc1_dq<8>" LOC = "AY19";
NET "ae_mc1_dq<9>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc1_dq<9>" LOC = "AP22";
NET "ae_mc1_dq<10>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc1_dq<10>" LOC = "AR22";
NET "ae_mc1_dq<11>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc1_dq<11>" LOC = "AW18";
NET "ae_mc1_dq<12>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc1_dq<12>" LOC = "AY18";
NET "ae_mc1_dq<13>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc1_dq<13>" LOC = "AY20";
NET "ae_mc1_dq<14>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc1_dq<14>" LOC = "AW21";
NET "ae_mc1_dq<15>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc1_dq<15>" LOC = "AL22";
NET "ae_mc1_dq<16>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc1_dq<16>" LOC = "BB19";
NET "ae_mc1_dq<17>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc1_dq<17>" LOC = "AW17";
NET "ae_mc1_dq<18>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc1_dq<18>" LOC = "AY17";
NET "ae_mc1_dq<19>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc1_dq<19>" LOC = "BB18";
NET "ae_mc1_dq<20>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc1_dq<20>" LOC = "BB17";
NET "ae_mc1_dq<21>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc1_dq<21>" LOC = "AW20";
NET "ae_mc1_dq<22>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc1_dq<22>" LOC = "AV20";
NET "ae_mc1_dq<23>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc1_dq<23>" LOC = "AV19";
NET "ae_mc1_dq<24>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc1_dq<24>" LOC = "AU19";
NET "ae_mc1_dq<25>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc1_dq<25>" LOC = "BB16";
NET "ae_mc1_dq<26>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc1_dq<26>" LOC = "BA16";
NET "ae_mc1_dq<27>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc1_dq<27>" LOC = "BA17";
NET "ae_mc1_dq<28>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc1_dq<28>" LOC = "BA14";
NET "ae_mc1_dq<29>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc1_dq<29>" LOC = "BB14";
NET "ae_mc1_dq<30>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc1_dq<30>" LOC = "AR19";
NET "ae_mc1_dq<31>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc1_dq<31>" LOC = "AT19";
NET "ae_mc1_dstrb" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc1_dstrb" LOC = "BA20";
NET "ae_mc1_size" IOSTANDARD = HSTL_I;
NET "ae_mc1_size" LOC = "AV14";
NET "ae_mc1_tid<0>" IOSTANDARD = HSTL_I;
NET "ae_mc1_tid<0>" LOC = "AY10";
NET "ae_mc1_tid<1>" IOSTANDARD = HSTL_I;
NET "ae_mc1_tid<1>" LOC = "AW11";
NET "ae_mc1_tid<2>" IOSTANDARD = HSTL_I;
NET "ae_mc1_tid<2>" LOC = "AN18";
NET "ae_mc1_tid<3>" IOSTANDARD = HSTL_I;
NET "ae_mc1_tid<3>" LOC = "AP18";
NET "ae_mc1_wdval" IOSTANDARD = HSTL_I;
NET "ae_mc1_wdval" LOC = "BB13";
NET "ae_mc2_addr<0>" IOSTANDARD = HSTL_I;
NET "ae_mc2_addr<0>" LOC = "AK22";
NET "ae_mc2_addr<1>" IOSTANDARD = HSTL_I;
NET "ae_mc2_addr<1>" LOC = "AK23";
NET "ae_mc2_addr<2>" IOSTANDARD = HSTL_I;
NET "ae_mc2_addr<2>" LOC = "AM24";
NET "ae_mc2_addr<3>" IOSTANDARD = HSTL_I;
NET "ae_mc2_addr<3>" LOC = "AL24";
NET "ae_mc2_addr<4>" IOSTANDARD = HSTL_I;
NET "ae_mc2_addr<4>" LOC = "AN24";
NET "ae_mc2_addr<5>" IOSTANDARD = HSTL_I;
NET "ae_mc2_addr<5>" LOC = "AP27";
NET "ae_mc2_addr<6>" IOSTANDARD = HSTL_I;
NET "ae_mc2_addr<6>" LOC = "AP26";
NET "ae_mc2_addr<7>" IOSTANDARD = HSTL_I;
NET "ae_mc2_addr<7>" LOC = "AJ25";
NET "ae_mc2_addr<8>" IOSTANDARD = HSTL_I;
NET "ae_mc2_addr<8>" LOC = "AK25";
NET "ae_mc2_addr<9>" IOSTANDARD = HSTL_I;
NET "ae_mc2_addr<9>" LOC = "AR27";
NET "ae_mc2_addr<10>" IOSTANDARD = HSTL_I;
NET "ae_mc2_addr<10>" LOC = "AT27";
NET "ae_mc2_addr<11>" IOSTANDARD = HSTL_I;
NET "ae_mc2_addr<11>" LOC = "AT26";
NET "ae_mc2_addr<12>" IOSTANDARD = HSTL_I;
NET "ae_mc2_addr<12>" LOC = "AY29";
NET "ae_mc2_addr<13>" IOSTANDARD = HSTL_I;
NET "ae_mc2_addr<13>" LOC = "AJ22";
NET "ae_mc2_addr<14>" IOSTANDARD = HSTL_I;
NET "ae_mc2_addr<14>" LOC = "AJ23";
NET "ae_mc2_addr<15>" IOSTANDARD = HSTL_I;
NET "ae_mc2_addr<15>" LOC = "BA30";
NET "ae_mc2_addr<16>" IOSTANDARD = HSTL_I;
NET "ae_mc2_addr<16>" LOC = "BB31";
NET "ae_mc2_addr<17>" IOSTANDARD = HSTL_I;
NET "ae_mc2_addr<17>" LOC = "AV28";
NET "ae_mc2_addr<18>" IOSTANDARD = HSTL_I;
NET "ae_mc2_addr<18>" LOC = "AW27";
NET "ae_mc2_addr<19>" IOSTANDARD = HSTL_I;
NET "ae_mc2_addr<19>" LOC = "AU28";
NET "ae_mc2_addr<20>" IOSTANDARD = HSTL_I;
NET "ae_mc2_addr<20>" LOC = "AU27";
NET "ae_mc2_addr<21>" IOSTANDARD = HSTL_I;
NET "ae_mc2_addr<21>" LOC = "AJ26";
NET "ae_mc2_addr<22>" IOSTANDARD = HSTL_I;
NET "ae_mc2_addr<22>" LOC = "BB32";
NET "ae_mc2_addr<23>" IOSTANDARD = HSTL_I;
NET "ae_mc2_addr<23>" LOC = "BA31";
NET "ae_mc2_apar" IOSTANDARD = HSTL_I;
NET "ae_mc2_apar" LOC = "AN26";
NET "ae_mc2_astrb" IOSTANDARD = HSTL_I;
NET "ae_mc2_astrb" LOC = "AW28";
NET "ae_mc2_cmd" IOSTANDARD = HSTL_I;
NET "ae_mc2_cmd" LOC = "AU29";
NET "ae_mc2_dpar" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc2_dpar" LOC = "AT22";
NET "ae_mc2_dq<0>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc2_dq<0>" LOC = "BB22";
NET "ae_mc2_dq<1>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc2_dq<1>" LOC = "BA22";
NET "ae_mc2_dq<2>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc2_dq<2>" LOC = "BA27";
NET "ae_mc2_dq<3>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc2_dq<3>" LOC = "BB27";
NET "ae_mc2_dq<4>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc2_dq<4>" LOC = "AY23";
NET "ae_mc2_dq<5>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc2_dq<5>" LOC = "AY22";
NET "ae_mc2_dq<6>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc2_dq<6>" LOC = "AU24";
NET "ae_mc2_dq<7>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc2_dq<7>" LOC = "AT24";
NET "ae_mc2_dq<8>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc2_dq<8>" LOC = "BB23";
NET "ae_mc2_dq<9>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc2_dq<9>" LOC = "BA26";
NET "ae_mc2_dq<10>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc2_dq<10>" LOC = "BB26";
NET "ae_mc2_dq<11>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc2_dq<11>" LOC = "BB21";
NET "ae_mc2_dq<12>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc2_dq<12>" LOC = "BA21";
NET "ae_mc2_dq<13>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc2_dq<13>" LOC = "AR23";
NET "ae_mc2_dq<14>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc2_dq<14>" LOC = "AP23";
NET "ae_mc2_dq<15>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc2_dq<15>" LOC = "AU22";
NET "ae_mc2_dq<16>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc2_dq<16>" LOC = "AR25";
NET "ae_mc2_dq<17>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc2_dq<17>" LOC = "AY24";
NET "ae_mc2_dq<18>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc2_dq<18>" LOC = "BA24";
NET "ae_mc2_dq<19>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc2_dq<19>" LOC = "BB28";
NET "ae_mc2_dq<20>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc2_dq<20>" LOC = "BB29";
NET "ae_mc2_dq<21>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc2_dq<21>" LOC = "AW23";
NET "ae_mc2_dq<22>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc2_dq<22>" LOC = "AW22";
NET "ae_mc2_dq<23>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc2_dq<23>" LOC = "AW25";
NET "ae_mc2_dq<24>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc2_dq<24>" LOC = "AV24";
NET "ae_mc2_dq<25>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc2_dq<25>" LOC = "BA25";
NET "ae_mc2_dq<26>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc2_dq<26>" LOC = "AY28";
NET "ae_mc2_dq<27>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc2_dq<27>" LOC = "BA29";
NET "ae_mc2_dq<28>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc2_dq<28>" LOC = "AT25";
NET "ae_mc2_dq<29>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc2_dq<29>" LOC = "AR24";
NET "ae_mc2_dq<30>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc2_dq<30>" LOC = "AW26";
NET "ae_mc2_dq<31>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc2_dq<31>" LOC = "AY27";
NET "ae_mc2_dstrb" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc2_dstrb" LOC = "AP25";
NET "ae_mc2_size" IOSTANDARD = HSTL_I;
NET "ae_mc2_size" LOC = "AV29";
NET "ae_mc2_tid<0>" IOSTANDARD = HSTL_I;
NET "ae_mc2_tid<0>" LOC = "AW30";
NET "ae_mc2_tid<1>" IOSTANDARD = HSTL_I;
NET "ae_mc2_tid<1>" LOC = "AY30";
NET "ae_mc2_tid<2>" IOSTANDARD = HSTL_I;
NET "ae_mc2_tid<2>" LOC = "AY32";
NET "ae_mc2_tid<3>" IOSTANDARD = HSTL_I;
NET "ae_mc2_tid<3>" LOC = "BA32";
NET "ae_mc2_wdval" IOSTANDARD = HSTL_I;
NET "ae_mc2_wdval" LOC = "AM26";
NET "ae_mc3_addr<0>" IOSTANDARD = HSTL_I;
NET "ae_mc3_addr<0>" LOC = "AR32";
NET "ae_mc3_addr<1>" IOSTANDARD = HSTL_I;
NET "ae_mc3_addr<1>" LOC = "AP32";
NET "ae_mc3_addr<2>" IOSTANDARD = HSTL_I;
NET "ae_mc3_addr<2>" LOC = "AW37";
NET "ae_mc3_addr<3>" IOSTANDARD = HSTL_I;
NET "ae_mc3_addr<3>" LOC = "AV36";
NET "ae_mc3_addr<4>" IOSTANDARD = HSTL_I;
NET "ae_mc3_addr<4>" LOC = "AR33";
NET "ae_mc3_addr<5>" IOSTANDARD = HSTL_I;
NET "ae_mc3_addr<5>" LOC = "AN33";
NET "ae_mc3_addr<6>" IOSTANDARD = HSTL_I;
NET "ae_mc3_addr<6>" LOC = "AP33";
NET "ae_mc3_addr<7>" IOSTANDARD = HSTL_I;
NET "ae_mc3_addr<7>" LOC = "BA36";
NET "ae_mc3_addr<8>" IOSTANDARD = HSTL_I;
NET "ae_mc3_addr<8>" LOC = "BB36";
NET "ae_mc3_addr<9>" IOSTANDARD = HSTL_I;
NET "ae_mc3_addr<9>" LOC = "BB39";
NET "ae_mc3_addr<10>" IOSTANDARD = HSTL_I;
NET "ae_mc3_addr<10>" LOC = "BA40";
NET "ae_mc3_addr<11>" IOSTANDARD = HSTL_I;
NET "ae_mc3_addr<11>" LOC = "AU37";
NET "ae_mc3_addr<12>" IOSTANDARD = HSTL_I;
NET "ae_mc3_addr<12>" LOC = "AY39";
NET "ae_mc3_addr<13>" IOSTANDARD = HSTL_I;
NET "ae_mc3_addr<13>" LOC = "BB38";
NET "ae_mc3_addr<14>" IOSTANDARD = HSTL_I;
NET "ae_mc3_addr<14>" LOC = "BB37";
NET "ae_mc3_addr<15>" IOSTANDARD = HSTL_I;
NET "ae_mc3_addr<15>" LOC = "BB41";
NET "ae_mc3_addr<16>" IOSTANDARD = HSTL_I;
NET "ae_mc3_addr<16>" LOC = "BA41";
NET "ae_mc3_addr<17>" IOSTANDARD = HSTL_I;
NET "ae_mc3_addr<17>" LOC = "AM32";
NET "ae_mc3_addr<18>" IOSTANDARD = HSTL_I;
NET "ae_mc3_addr<18>" LOC = "AM31";
NET "ae_mc3_addr<19>" IOSTANDARD = HSTL_I;
NET "ae_mc3_addr<19>" LOC = "AU38";
NET "ae_mc3_addr<20>" IOSTANDARD = HSTL_I;
NET "ae_mc3_addr<20>" LOC = "AV38";
NET "ae_mc3_addr<21>" IOSTANDARD = HSTL_I;
NET "ae_mc3_addr<21>" LOC = "BA37";
NET "ae_mc3_addr<22>" IOSTANDARD = HSTL_I;
NET "ae_mc3_addr<22>" LOC = "AY42";
NET "ae_mc3_addr<23>" IOSTANDARD = HSTL_I;
NET "ae_mc3_addr<23>" LOC = "BA42";
NET "ae_mc3_apar" IOSTANDARD = HSTL_I;
NET "ae_mc3_apar" LOC = "AT35";
NET "ae_mc3_astrb" IOSTANDARD = HSTL_I;
NET "ae_mc3_astrb" LOC = "BA39";
NET "ae_mc3_cmd" IOSTANDARD = HSTL_I;
NET "ae_mc3_cmd" LOC = "AU39";
NET "ae_mc3_dpar" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc3_dpar" LOC = "AW32";
NET "ae_mc3_dq<0>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc3_dq<0>" LOC = "AM27";
NET "ae_mc3_dq<1>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc3_dq<1>" LOC = "AL26";
NET "ae_mc3_dq<2>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc3_dq<2>" LOC = "AN29";
NET "ae_mc3_dq<3>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc3_dq<3>" LOC = "AM29";
NET "ae_mc3_dq<4>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc3_dq<4>" LOC = "AM28";
NET "ae_mc3_dq<5>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc3_dq<5>" LOC = "AL27";
NET "ae_mc3_dq<6>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc3_dq<6>" LOC = "AU31";
NET "ae_mc3_dq<7>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc3_dq<7>" LOC = "AV31";
NET "ae_mc3_dq<8>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc3_dq<8>" LOC = "AN28";
NET "ae_mc3_dq<9>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc3_dq<9>" LOC = "AT29";
NET "ae_mc3_dq<10>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc3_dq<10>" LOC = "AR28";
NET "ae_mc3_dq<11>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc3_dq<11>" LOC = "AW31";
NET "ae_mc3_dq<12>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc3_dq<12>" LOC = "AV30";
NET "ae_mc3_dq<13>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc3_dq<13>" LOC = "AR29";
NET "ae_mc3_dq<14>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc3_dq<14>" LOC = "AT30";
NET "ae_mc3_dq<15>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc3_dq<15>" LOC = "AW33";
NET "ae_mc3_dq<16>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc3_dq<16>" LOC = "AT31";
NET "ae_mc3_dq<17>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc3_dq<17>" LOC = "AY34";
NET "ae_mc3_dq<18>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc3_dq<18>" LOC = "AY33";
NET "ae_mc3_dq<19>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc3_dq<19>" LOC = "AP30";
NET "ae_mc3_dq<20>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc3_dq<20>" LOC = "AP31";
NET "ae_mc3_dq<21>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc3_dq<21>" LOC = "AU32";
NET "ae_mc3_dq<22>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc3_dq<22>" LOC = "AV33";
NET "ae_mc3_dq<23>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc3_dq<23>" LOC = "AU34";
NET "ae_mc3_dq<24>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc3_dq<24>" LOC = "AV34";
NET "ae_mc3_dq<25>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc3_dq<25>" LOC = "AT32";
NET "ae_mc3_dq<26>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc3_dq<26>" LOC = "BB34";
NET "ae_mc3_dq<27>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc3_dq<27>" LOC = "BB33";
NET "ae_mc3_dq<28>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc3_dq<28>" LOC = "AW35";
NET "ae_mc3_dq<29>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc3_dq<29>" LOC = "AY35";
NET "ae_mc3_dq<30>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc3_dq<30>" LOC = "BA35";
NET "ae_mc3_dq<31>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc3_dq<31>" LOC = "BA34";
NET "ae_mc3_dstrb" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc3_dstrb" LOC = "AR30";
NET "ae_mc3_size" IOSTANDARD = HSTL_I;
NET "ae_mc3_size" LOC = "AV39";
NET "ae_mc3_tid<0>" IOSTANDARD = HSTL_I;
NET "ae_mc3_tid<0>" LOC = "AW38";
NET "ae_mc3_tid<1>" IOSTANDARD = HSTL_I;
NET "ae_mc3_tid<1>" LOC = "AY38";
NET "ae_mc3_tid<2>" IOSTANDARD = HSTL_I;
NET "ae_mc3_tid<2>" LOC = "AW40";
NET "ae_mc3_tid<3>" IOSTANDARD = HSTL_I;
NET "ae_mc3_tid<3>" LOC = "AY40";
NET "ae_mc3_wdval" IOSTANDARD = HSTL_I;
NET "ae_mc3_wdval" LOC = "AR34";
NET "ae_mc4_addr<0>" IOSTANDARD = HSTL_I;
NET "ae_mc4_addr<0>" LOC = "K15";
NET "ae_mc4_addr<1>" IOSTANDARD = HSTL_I;
NET "ae_mc4_addr<1>" LOC = "L16";
NET "ae_mc4_addr<2>" IOSTANDARD = HSTL_I;
NET "ae_mc4_addr<2>" LOC = "E10";
NET "ae_mc4_addr<3>" IOSTANDARD = HSTL_I;
NET "ae_mc4_addr<3>" LOC = "E9";
NET "ae_mc4_addr<4>" IOSTANDARD = HSTL_I;
NET "ae_mc4_addr<4>" LOC = "A5";
NET "ae_mc4_addr<5>" IOSTANDARD = HSTL_I;
NET "ae_mc4_addr<5>" LOC = "G14";
NET "ae_mc4_addr<6>" IOSTANDARD = HSTL_I;
NET "ae_mc4_addr<6>" LOC = "H14";
NET "ae_mc4_addr<7>" IOSTANDARD = HSTL_I;
NET "ae_mc4_addr<7>" LOC = "K14";
NET "ae_mc4_addr<8>" IOSTANDARD = HSTL_I;
NET "ae_mc4_addr<8>" LOC = "J13";
NET "ae_mc4_addr<9>" IOSTANDARD = HSTL_I;
NET "ae_mc4_addr<9>" LOC = "C10";
NET "ae_mc4_addr<10>" IOSTANDARD = HSTL_I;
NET "ae_mc4_addr<10>" LOC = "C11";
NET "ae_mc4_addr<11>" IOSTANDARD = HSTL_I;
NET "ae_mc4_addr<11>" LOC = "J16";
NET "ae_mc4_addr<12>" IOSTANDARD = HSTL_I;
NET "ae_mc4_addr<12>" LOC = "B9";
NET "ae_mc4_addr<13>" IOSTANDARD = HSTL_I;
NET "ae_mc4_addr<13>" LOC = "A7";
NET "ae_mc4_addr<14>" IOSTANDARD = HSTL_I;
NET "ae_mc4_addr<14>" LOC = "B7";
NET "ae_mc4_addr<15>" IOSTANDARD = HSTL_I;
NET "ae_mc4_addr<15>" LOC = "B11";
NET "ae_mc4_addr<16>" IOSTANDARD = HSTL_I;
NET "ae_mc4_addr<16>" LOC = "B12";
NET "ae_mc4_addr<17>" IOSTANDARD = HSTL_I;
NET "ae_mc4_addr<17>" LOC = "D8";
NET "ae_mc4_addr<18>" IOSTANDARD = HSTL_I;
NET "ae_mc4_addr<18>" LOC = "E8";
NET "ae_mc4_addr<19>" IOSTANDARD = HSTL_I;
NET "ae_mc4_addr<19>" LOC = "D12";
NET "ae_mc4_addr<20>" IOSTANDARD = HSTL_I;
NET "ae_mc4_addr<20>" LOC = "E12";
NET "ae_mc4_addr<21>" IOSTANDARD = HSTL_I;
NET "ae_mc4_addr<21>" LOC = "C8";
NET "ae_mc4_addr<22>" IOSTANDARD = HSTL_I;
NET "ae_mc4_addr<22>" LOC = "A10";
NET "ae_mc4_addr<23>" IOSTANDARD = HSTL_I;
NET "ae_mc4_addr<23>" LOC = "A9";
NET "ae_mc4_apar" IOSTANDARD = HSTL_I;
NET "ae_mc4_apar" LOC = "G13";
NET "ae_mc4_astrb" IOSTANDARD = HSTL_I;
NET "ae_mc4_astrb" LOC = "B8";
NET "ae_mc4_cmd" IOSTANDARD = HSTL_I;
NET "ae_mc4_cmd" LOC = "D10";
NET "ae_mc4_dpar" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc4_dpar" LOC = "G7";
NET "ae_mc4_dq<0>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc4_dq<0>" LOC = "P15";
NET "ae_mc4_dq<1>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc4_dq<1>" LOC = "R15";
NET "ae_mc4_dq<2>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc4_dq<2>" LOC = "P16";
NET "ae_mc4_dq<3>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc4_dq<3>" LOC = "N16";
NET "ae_mc4_dq<4>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc4_dq<4>" LOC = "N15";
NET "ae_mc4_dq<5>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc4_dq<5>" LOC = "N14";
NET "ae_mc4_dq<6>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc4_dq<6>" LOC = "H8";
NET "ae_mc4_dq<7>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc4_dq<7>" LOC = "J8";
NET "ae_mc4_dq<8>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc4_dq<8>" LOC = "M13";
NET "ae_mc4_dq<9>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc4_dq<9>" LOC = "L15";
NET "ae_mc4_dq<10>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc4_dq<10>" LOC = "M16";
NET "ae_mc4_dq<11>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc4_dq<11>" LOC = "K9";
NET "ae_mc4_dq<12>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc4_dq<12>" LOC = "L10";
NET "ae_mc4_dq<13>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc4_dq<13>" LOC = "L12";
NET "ae_mc4_dq<14>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc4_dq<14>" LOC = "K12";
NET "ae_mc4_dq<15>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc4_dq<15>" LOC = "G8";
NET "ae_mc4_dq<16>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc4_dq<16>" LOC = "J12";
NET "ae_mc4_dq<17>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc4_dq<17>" LOC = "L11";
NET "ae_mc4_dq<18>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc4_dq<18>" LOC = "K10";
NET "ae_mc4_dq<19>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc4_dq<19>" LOC = "J11";
NET "ae_mc4_dq<20>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc4_dq<20>" LOC = "J10";
NET "ae_mc4_dq<21>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc4_dq<21>" LOC = "F6";
NET "ae_mc4_dq<22>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc4_dq<22>" LOC = "G6";
NET "ae_mc4_dq<23>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc4_dq<23>" LOC = "E7";
NET "ae_mc4_dq<24>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc4_dq<24>" LOC = "F7";
NET "ae_mc4_dq<25>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc4_dq<25>" LOC = "M14";
NET "ae_mc4_dq<26>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc4_dq<26>" LOC = "H10";
NET "ae_mc4_dq<27>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc4_dq<27>" LOC = "H11";
NET "ae_mc4_dq<28>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc4_dq<28>" LOC = "G9";
NET "ae_mc4_dq<29>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc4_dq<29>" LOC = "H9";
NET "ae_mc4_dq<30>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc4_dq<30>" LOC = "D7";
NET "ae_mc4_dq<31>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc4_dq<31>" LOC = "D6";
NET "ae_mc4_dstrb" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc4_dstrb" LOC = "K13";
NET "ae_mc4_size" IOSTANDARD = HSTL_I;
NET "ae_mc4_size" LOC = "D11";
NET "ae_mc4_tid<0>" IOSTANDARD = HSTL_I;
NET "ae_mc4_tid<0>" LOC = "G12";
NET "ae_mc4_tid<1>" IOSTANDARD = HSTL_I;
NET "ae_mc4_tid<1>" LOC = "G11";
NET "ae_mc4_tid<2>" IOSTANDARD = HSTL_I;
NET "ae_mc4_tid<2>" LOC = "A12";
NET "ae_mc4_tid<3>" IOSTANDARD = HSTL_I;
NET "ae_mc4_tid<3>" LOC = "A11";
NET "ae_mc4_wdval" IOSTANDARD = HSTL_I;
NET "ae_mc4_wdval" LOC = "H13";
NET "ae_mc5_addr<0>" IOSTANDARD = HSTL_I;
NET "ae_mc5_addr<0>" LOC = "B17";
NET "ae_mc5_addr<1>" IOSTANDARD = HSTL_I;
NET "ae_mc5_addr<1>" LOC = "B16";
NET "ae_mc5_addr<2>" IOSTANDARD = HSTL_I;
NET "ae_mc5_addr<2>" LOC = "E18";
NET "ae_mc5_addr<3>" IOSTANDARD = HSTL_I;
NET "ae_mc5_addr<3>" LOC = "F19";
NET "ae_mc5_addr<4>" IOSTANDARD = HSTL_I;
NET "ae_mc5_addr<4>" LOC = "B18";
NET "ae_mc5_addr<5>" IOSTANDARD = HSTL_I;
NET "ae_mc5_addr<5>" LOC = "A20";
NET "ae_mc5_addr<6>" IOSTANDARD = HSTL_I;
NET "ae_mc5_addr<6>" LOC = "A19";
NET "ae_mc5_addr<7>" IOSTANDARD = HSTL_I;
NET "ae_mc5_addr<7>" LOC = "C19";
NET "ae_mc5_addr<8>" IOSTANDARD = HSTL_I;
NET "ae_mc5_addr<8>" LOC = "C18";
NET "ae_mc5_addr<9>" IOSTANDARD = HSTL_I;
NET "ae_mc5_addr<9>" LOC = "A21";
NET "ae_mc5_addr<10>" IOSTANDARD = HSTL_I;
NET "ae_mc5_addr<10>" LOC = "B21";
NET "ae_mc5_addr<11>" IOSTANDARD = HSTL_I;
NET "ae_mc5_addr<11>" LOC = "D18";
NET "ae_mc5_addr<12>" IOSTANDARD = HSTL_I;
NET "ae_mc5_addr<12>" LOC = "C21";
NET "ae_mc5_addr<13>" IOSTANDARD = HSTL_I;
NET "ae_mc5_addr<13>" LOC = "L20";
NET "ae_mc5_addr<14>" IOSTANDARD = HSTL_I;
NET "ae_mc5_addr<14>" LOC = "L21";
NET "ae_mc5_addr<15>" IOSTANDARD = HSTL_I;
NET "ae_mc5_addr<15>" LOC = "L22";
NET "ae_mc5_addr<16>" IOSTANDARD = HSTL_I;
NET "ae_mc5_addr<16>" LOC = "K22";
NET "ae_mc5_addr<17>" IOSTANDARD = HSTL_I;
NET "ae_mc5_addr<17>" LOC = "F17";
NET "ae_mc5_addr<18>" IOSTANDARD = HSTL_I;
NET "ae_mc5_addr<18>" LOC = "E17";
NET "ae_mc5_addr<19>" IOSTANDARD = HSTL_I;
NET "ae_mc5_addr<19>" LOC = "E19";
NET "ae_mc5_addr<20>" IOSTANDARD = HSTL_I;
NET "ae_mc5_addr<20>" LOC = "F20";
NET "ae_mc5_addr<21>" IOSTANDARD = HSTL_I;
NET "ae_mc5_addr<21>" LOC = "G18";
NET "ae_mc5_addr<22>" IOSTANDARD = HSTL_I;
NET "ae_mc5_addr<22>" LOC = "H21";
NET "ae_mc5_addr<23>" IOSTANDARD = HSTL_I;
NET "ae_mc5_addr<23>" LOC = "G21";
NET "ae_mc5_apar" IOSTANDARD = HSTL_I;
NET "ae_mc5_apar" LOC = "C20";
NET "ae_mc5_astrb" IOSTANDARD = HSTL_I;
NET "ae_mc5_astrb" LOC = "D21";
NET "ae_mc5_cmd" IOSTANDARD = HSTL_I;
NET "ae_mc5_cmd" LOC = "F21";
NET "ae_mc5_dpar" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc5_dpar" LOC = "G16";
NET "ae_mc5_dq<0>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc5_dq<0>" LOC = "P18";
NET "ae_mc5_dq<1>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc5_dq<1>" LOC = "R17";
NET "ae_mc5_dq<2>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc5_dq<2>" LOC = "L19";
NET "ae_mc5_dq<3>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc5_dq<3>" LOC = "K19";
NET "ae_mc5_dq<4>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc5_dq<4>" LOC = "N18";
NET "ae_mc5_dq<5>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc5_dq<5>" LOC = "P17";
NET "ae_mc5_dq<6>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc5_dq<6>" LOC = "J18";
NET "ae_mc5_dq<7>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc5_dq<7>" LOC = "K18";
NET "ae_mc5_dq<8>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc5_dq<8>" LOC = "M17";
NET "ae_mc5_dq<9>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc5_dq<9>" LOC = "G17";
NET "ae_mc5_dq<10>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc5_dq<10>" LOC = "H18";
NET "ae_mc5_dq<11>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc5_dq<11>" LOC = "C14";
NET "ae_mc5_dq<12>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc5_dq<12>" LOC = "C13";
NET "ae_mc5_dq<13>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc5_dq<13>" LOC = "D15";
NET "ae_mc5_dq<14>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc5_dq<14>" LOC = "C15";
NET "ae_mc5_dq<15>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc5_dq<15>" LOC = "F16";
NET "ae_mc5_dq<16>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc5_dq<16>" LOC = "N20";
NET "ae_mc5_dq<17>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc5_dq<17>" LOC = "H16";
NET "ae_mc5_dq<18>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc5_dq<18>" LOC = "H15";
NET "ae_mc5_dq<19>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc5_dq<19>" LOC = "D16";
NET "ae_mc5_dq<20>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc5_dq<20>" LOC = "C16";
NET "ae_mc5_dq<21>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc5_dq<21>" LOC = "F14";
NET "ae_mc5_dq<22>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc5_dq<22>" LOC = "F15";
NET "ae_mc5_dq<23>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc5_dq<23>" LOC = "E15";
NET "ae_mc5_dq<24>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc5_dq<24>" LOC = "E14";
NET "ae_mc5_dq<25>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc5_dq<25>" LOC = "P20";
NET "ae_mc5_dq<26>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc5_dq<26>" LOC = "B14";
NET "ae_mc5_dq<27>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc5_dq<27>" LOC = "B13";
NET "ae_mc5_dq<28>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc5_dq<28>" LOC = "J17";
NET "ae_mc5_dq<29>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc5_dq<29>" LOC = "K17";
NET "ae_mc5_dq<30>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc5_dq<30>" LOC = "A15";
NET "ae_mc5_dq<31>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc5_dq<31>" LOC = "A14";
NET "ae_mc5_dstrb" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc5_dstrb" LOC = "P21";
NET "ae_mc5_size" IOSTANDARD = HSTL_I;
NET "ae_mc5_size" LOC = "E20";
NET "ae_mc5_tid<0>" IOSTANDARD = HSTL_I;
NET "ae_mc5_tid<0>" LOC = "J20";
NET "ae_mc5_tid<1>" IOSTANDARD = HSTL_I;
NET "ae_mc5_tid<1>" LOC = "K20";
NET "ae_mc5_tid<2>" IOSTANDARD = HSTL_I;
NET "ae_mc5_tid<2>" LOC = "J21";
NET "ae_mc5_tid<3>" IOSTANDARD = HSTL_I;
NET "ae_mc5_tid<3>" LOC = "J22";
NET "ae_mc5_wdval" IOSTANDARD = HSTL_I;
NET "ae_mc5_wdval" LOC = "D20";
NET "ae_mc6_addr<0>" IOSTANDARD = HSTL_I;
NET "ae_mc6_addr<0>" LOC = "A24";
NET "ae_mc6_addr<1>" IOSTANDARD = HSTL_I;
NET "ae_mc6_addr<1>" LOC = "A25";
NET "ae_mc6_addr<2>" IOSTANDARD = HSTL_I;
NET "ae_mc6_addr<2>" LOC = "D25";
NET "ae_mc6_addr<3>" IOSTANDARD = HSTL_I;
NET "ae_mc6_addr<3>" LOC = "D26";
NET "ae_mc6_addr<4>" IOSTANDARD = HSTL_I;
NET "ae_mc6_addr<4>" LOC = "B27";
NET "ae_mc6_addr<5>" IOSTANDARD = HSTL_I;
NET "ae_mc6_addr<5>" LOC = "G22";
NET "ae_mc6_addr<6>" IOSTANDARD = HSTL_I;
NET "ae_mc6_addr<6>" LOC = "F22";
NET "ae_mc6_addr<7>" IOSTANDARD = HSTL_I;
NET "ae_mc6_addr<7>" LOC = "C25";
NET "ae_mc6_addr<8>" IOSTANDARD = HSTL_I;
NET "ae_mc6_addr<8>" LOC = "B26";
NET "ae_mc6_addr<9>" IOSTANDARD = HSTL_I;
NET "ae_mc6_addr<9>" LOC = "B23";
NET "ae_mc6_addr<10>" IOSTANDARD = HSTL_I;
NET "ae_mc6_addr<10>" LOC = "C23";
NET "ae_mc6_addr<11>" IOSTANDARD = HSTL_I;
NET "ae_mc6_addr<11>" LOC = "F25";
NET "ae_mc6_addr<12>" IOSTANDARD = HSTL_I;
NET "ae_mc6_addr<12>" LOC = "A22";
NET "ae_mc6_addr<13>" IOSTANDARD = HSTL_I;
NET "ae_mc6_addr<13>" LOC = "J23";
NET "ae_mc6_addr<14>" IOSTANDARD = HSTL_I;
NET "ae_mc6_addr<14>" LOC = "K23";
NET "ae_mc6_addr<15>" IOSTANDARD = HSTL_I;
NET "ae_mc6_addr<15>" LOC = "H25";
NET "ae_mc6_addr<16>" IOSTANDARD = HSTL_I;
NET "ae_mc6_addr<16>" LOC = "H24";
NET "ae_mc6_addr<17>" IOSTANDARD = HSTL_I;
NET "ae_mc6_addr<17>" LOC = "E25";
NET "ae_mc6_addr<18>" IOSTANDARD = HSTL_I;
NET "ae_mc6_addr<18>" LOC = "E24";
NET "ae_mc6_addr<19>" IOSTANDARD = HSTL_I;
NET "ae_mc6_addr<19>" LOC = "D23";
NET "ae_mc6_addr<20>" IOSTANDARD = HSTL_I;
NET "ae_mc6_addr<20>" LOC = "E23";
NET "ae_mc6_addr<21>" IOSTANDARD = HSTL_I;
NET "ae_mc6_addr<21>" LOC = "L24";
NET "ae_mc6_addr<22>" IOSTANDARD = HSTL_I;
NET "ae_mc6_addr<22>" LOC = "F24";
NET "ae_mc6_addr<23>" IOSTANDARD = HSTL_I;
NET "ae_mc6_addr<23>" LOC = "G24";
NET "ae_mc6_apar" IOSTANDARD = HSTL_I;
NET "ae_mc6_apar" LOC = "G23";
NET "ae_mc6_astrb" IOSTANDARD = HSTL_I;
NET "ae_mc6_astrb" LOC = "B22";
NET "ae_mc6_cmd" IOSTANDARD = HSTL_I;
NET "ae_mc6_cmd" LOC = "E22";
NET "ae_mc6_dpar" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc6_dpar" LOC = "D28";
NET "ae_mc6_dq<0>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc6_dq<0>" LOC = "B31";
NET "ae_mc6_dq<1>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc6_dq<1>" LOC = "A31";
NET "ae_mc6_dq<2>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc6_dq<2>" LOC = "K27";
NET "ae_mc6_dq<3>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc6_dq<3>" LOC = "L26";
NET "ae_mc6_dq<4>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc6_dq<4>" LOC = "A29";
NET "ae_mc6_dq<5>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc6_dq<5>" LOC = "A30";
NET "ae_mc6_dq<6>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc6_dq<6>" LOC = "E29";
NET "ae_mc6_dq<7>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc6_dq<7>" LOC = "D30";
NET "ae_mc6_dq<8>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc6_dq<8>" LOC = "C31";
NET "ae_mc6_dq<9>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc6_dq<9>" LOC = "C28";
NET "ae_mc6_dq<10>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc6_dq<10>" LOC = "C29";
NET "ae_mc6_dq<11>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc6_dq<11>" LOC = "J27";
NET "ae_mc6_dq<12>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc6_dq<12>" LOC = "H28";
NET "ae_mc6_dq<13>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc6_dq<13>" LOC = "B29";
NET "ae_mc6_dq<14>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc6_dq<14>" LOC = "B28";
NET "ae_mc6_dq<15>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc6_dq<15>" LOC = "E28";
NET "ae_mc6_dq<16>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc6_dq<16>" LOC = "N24";
NET "ae_mc6_dq<17>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc6_dq<17>" LOC = "P22";
NET "ae_mc6_dq<18>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc6_dq<18>" LOC = "N21";
NET "ae_mc6_dq<19>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc6_dq<19>" LOC = "J26";
NET "ae_mc6_dq<20>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc6_dq<20>" LOC = "H26";
NET "ae_mc6_dq<21>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc6_dq<21>" LOC = "F29";
NET "ae_mc6_dq<22>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc6_dq<22>" LOC = "G29";
NET "ae_mc6_dq<23>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc6_dq<23>" LOC = "F27";
NET "ae_mc6_dq<24>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc6_dq<24>" LOC = "G28";
NET "ae_mc6_dq<25>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc6_dq<25>" LOC = "N23";
NET "ae_mc6_dq<26>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc6_dq<26>" LOC = "G26";
NET "ae_mc6_dq<27>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc6_dq<27>" LOC = "G27";
NET "ae_mc6_dq<28>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc6_dq<28>" LOC = "M21";
NET "ae_mc6_dq<29>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc6_dq<29>" LOC = "M22";
NET "ae_mc6_dq<30>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc6_dq<30>" LOC = "M26";
NET "ae_mc6_dq<31>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc6_dq<31>" LOC = "N25";
NET "ae_mc6_dstrb" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc6_dstrb" LOC = "P23";
NET "ae_mc6_size" IOSTANDARD = HSTL_I;
NET "ae_mc6_size" LOC = "D22";
NET "ae_mc6_tid<0>" IOSTANDARD = HSTL_I;
NET "ae_mc6_tid<0>" LOC = "J25";
NET "ae_mc6_tid<1>" IOSTANDARD = HSTL_I;
NET "ae_mc6_tid<1>" LOC = "K24";
NET "ae_mc6_tid<2>" IOSTANDARD = HSTL_I;
NET "ae_mc6_tid<2>" LOC = "C24";
NET "ae_mc6_tid<3>" IOSTANDARD = HSTL_I;
NET "ae_mc6_tid<3>" LOC = "B24";
NET "ae_mc6_wdval" IOSTANDARD = HSTL_I;
NET "ae_mc6_wdval" LOC = "H23";
NET "ae_mc7_addr<0>" IOSTANDARD = HSTL_I;
NET "ae_mc7_addr<0>" LOC = "G32";
NET "ae_mc7_addr<1>" IOSTANDARD = HSTL_I;
NET "ae_mc7_addr<1>" LOC = "G33";
NET "ae_mc7_addr<2>" IOSTANDARD = HSTL_I;
NET "ae_mc7_addr<2>" LOC = "D32";
NET "ae_mc7_addr<3>" IOSTANDARD = HSTL_I;
NET "ae_mc7_addr<3>" LOC = "C33";
NET "ae_mc7_addr<4>" IOSTANDARD = HSTL_I;
NET "ae_mc7_addr<4>" LOC = "G31";
NET "ae_mc7_addr<5>" IOSTANDARD = HSTL_I;
NET "ae_mc7_addr<5>" LOC = "J28";
NET "ae_mc7_addr<6>" IOSTANDARD = HSTL_I;
NET "ae_mc7_addr<6>" LOC = "K28";
NET "ae_mc7_addr<7>" IOSTANDARD = HSTL_I;
NET "ae_mc7_addr<7>" LOC = "L29";
NET "ae_mc7_addr<8>" IOSTANDARD = HSTL_I;
NET "ae_mc7_addr<8>" LOC = "M28";
NET "ae_mc7_addr<9>" IOSTANDARD = HSTL_I;
NET "ae_mc7_addr<9>" LOC = "C34";
NET "ae_mc7_addr<10>" IOSTANDARD = HSTL_I;
NET "ae_mc7_addr<10>" LOC = "B33";
NET "ae_mc7_addr<11>" IOSTANDARD = HSTL_I;
NET "ae_mc7_addr<11>" LOC = "E33";
NET "ae_mc7_addr<12>" IOSTANDARD = HSTL_I;
NET "ae_mc7_addr<12>" LOC = "A34";
NET "ae_mc7_addr<13>" IOSTANDARD = HSTL_I;
NET "ae_mc7_addr<13>" LOC = "J31";
NET "ae_mc7_addr<14>" IOSTANDARD = HSTL_I;
NET "ae_mc7_addr<14>" LOC = "K30";
NET "ae_mc7_addr<15>" IOSTANDARD = HSTL_I;
NET "ae_mc7_addr<15>" LOC = "B32";
NET "ae_mc7_addr<16>" IOSTANDARD = HSTL_I;
NET "ae_mc7_addr<16>" LOC = "A32";
NET "ae_mc7_addr<17>" IOSTANDARD = HSTL_I;
NET "ae_mc7_addr<17>" LOC = "F32";
NET "ae_mc7_addr<18>" IOSTANDARD = HSTL_I;
NET "ae_mc7_addr<18>" LOC = "E32";
NET "ae_mc7_addr<19>" IOSTANDARD = HSTL_I;
NET "ae_mc7_addr<19>" LOC = "F30";
NET "ae_mc7_addr<20>" IOSTANDARD = HSTL_I;
NET "ae_mc7_addr<20>" LOC = "F31";
NET "ae_mc7_addr<21>" IOSTANDARD = HSTL_I;
NET "ae_mc7_addr<21>" LOC = "J30";
NET "ae_mc7_addr<22>" IOSTANDARD = HSTL_I;
NET "ae_mc7_addr<22>" LOC = "M27";
NET "ae_mc7_addr<23>" IOSTANDARD = HSTL_I;
NET "ae_mc7_addr<23>" LOC = "L27";
NET "ae_mc7_apar" IOSTANDARD = HSTL_I;
NET "ae_mc7_apar" LOC = "H29";
NET "ae_mc7_astrb" IOSTANDARD = HSTL_I;
NET "ae_mc7_astrb" LOC = "A35";
NET "ae_mc7_cmd" IOSTANDARD = HSTL_I;
NET "ae_mc7_cmd" LOC = "P27";
NET "ae_mc7_dpar" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc7_dpar" LOC = "G36";
NET "ae_mc7_dq<0>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc7_dq<0>" LOC = "B38";
NET "ae_mc7_dq<1>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc7_dq<1>" LOC = "A39";
NET "ae_mc7_dq<2>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc7_dq<2>" LOC = "P31";
NET "ae_mc7_dq<3>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc7_dq<3>" LOC = "N30";
NET "ae_mc7_dq<4>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc7_dq<4>" LOC = "E35";
NET "ae_mc7_dq<5>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc7_dq<5>" LOC = "D36";
NET "ae_mc7_dq<6>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc7_dq<6>" LOC = "E37";
NET "ae_mc7_dq<7>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc7_dq<7>" LOC = "F37";
NET "ae_mc7_dq<8>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc7_dq<8>" LOC = "K33";
NET "ae_mc7_dq<9>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc7_dq<9>" LOC = "L32";
NET "ae_mc7_dq<10>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc7_dq<10>" LOC = "M31";
NET "ae_mc7_dq<11>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc7_dq<11>" LOC = "H33";
NET "ae_mc7_dq<12>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc7_dq<12>" LOC = "G34";
NET "ae_mc7_dq<13>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc7_dq<13>" LOC = "D37";
NET "ae_mc7_dq<14>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc7_dq<14>" LOC = "C36";
NET "ae_mc7_dq<15>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc7_dq<15>" LOC = "F36";
NET "ae_mc7_dq<16>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc7_dq<16>" LOC = "A37";
NET "ae_mc7_dq<17>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc7_dq<17>" LOC = "J32";
NET "ae_mc7_dq<18>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc7_dq<18>" LOC = "K32";
NET "ae_mc7_dq<19>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc7_dq<19>" LOC = "B36";
NET "ae_mc7_dq<20>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc7_dq<20>" LOC = "A36";
NET "ae_mc7_dq<21>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc7_dq<21>" LOC = "H34";
NET "ae_mc7_dq<22>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc7_dq<22>" LOC = "H35";
NET "ae_mc7_dq<23>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc7_dq<23>" LOC = "C38";
NET "ae_mc7_dq<24>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc7_dq<24>" LOC = "D38";
NET "ae_mc7_dq<25>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc7_dq<25>" LOC = "L31";
NET "ae_mc7_dq<26>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc7_dq<26>" LOC = "N28";
NET "ae_mc7_dq<27>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc7_dq<27>" LOC = "M29";
NET "ae_mc7_dq<28>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc7_dq<28>" LOC = "N29";
NET "ae_mc7_dq<29>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc7_dq<29>" LOC = "P30";
NET "ae_mc7_dq<30>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc7_dq<30>" LOC = "P28";
NET "ae_mc7_dq<31>" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc7_dq<31>" LOC = "R28";
NET "ae_mc7_dstrb" IOSTANDARD = HSTL_II_T_DCI;
NET "ae_mc7_dstrb" LOC = "B37";
NET "ae_mc7_size" IOSTANDARD = HSTL_I;
NET "ae_mc7_size" LOC = "R27";
NET "ae_mc7_tid<0>" IOSTANDARD = HSTL_I;
NET "ae_mc7_tid<0>" LOC = "R25";
NET "ae_mc7_tid<1>" IOSTANDARD = HSTL_I;
NET "ae_mc7_tid<1>" LOC = "P25";
NET "ae_mc7_tid<2>" IOSTANDARD = HSTL_I;
NET "ae_mc7_tid<2>" LOC = "N26";
NET "ae_mc7_tid<3>" IOSTANDARD = HSTL_I;
NET "ae_mc7_tid<3>" LOC = "P26";
NET "ae_mc7_wdval" IOSTANDARD = HSTL_I;
NET "ae_mc7_wdval" LOC = "H30";
NET "mc0_ae_rsp_op" IOSTANDARD = HSTL_II_T_DCI;
NET "mc0_ae_rsp_op" LOC = "AV9";
NET "mc0_ae_rsp_par" IOSTANDARD = HSTL_II_T_DCI;
NET "mc0_ae_rsp_par" LOC = "AU9";
NET "mc0_ae_rsp_strb" IOSTANDARD = HSTL_II_T_DCI;
NET "mc0_ae_rsp_strb" LOC = "AV6";
NET "mc0_ae_rsp_tid<0>" IOSTANDARD = HSTL_II_T_DCI;
NET "mc0_ae_rsp_tid<0>" LOC = "AU7";
NET "mc0_ae_rsp_tid<1>" IOSTANDARD = HSTL_II_T_DCI;
NET "mc0_ae_rsp_tid<1>" LOC = "AU8";
NET "mc0_ae_rsp_tid<2>" IOSTANDARD = HSTL_II_T_DCI;
NET "mc0_ae_rsp_tid<2>" LOC = "AL14";
NET "mc0_ae_rsp_tid<3>" IOSTANDARD = HSTL_II_T_DCI;
NET "mc0_ae_rsp_tid<3>" LOC = "AM14";
NET "mc1_ae_rsp_op" IOSTANDARD = HSTL_II_T_DCI;
NET "mc1_ae_rsp_op" LOC = "AV18";
NET "mc1_ae_rsp_par" IOSTANDARD = HSTL_II_T_DCI;
NET "mc1_ae_rsp_par" LOC = "AU18";
NET "mc1_ae_rsp_strb" IOSTANDARD = HSTL_II_T_DCI;
NET "mc1_ae_rsp_strb" LOC = "AK20";
NET "mc1_ae_rsp_tid<0>" IOSTANDARD = HSTL_II_T_DCI;
NET "mc1_ae_rsp_tid<0>" LOC = "AV16";
NET "mc1_ae_rsp_tid<1>" IOSTANDARD = HSTL_II_T_DCI;
NET "mc1_ae_rsp_tid<1>" LOC = "AU17";
NET "mc1_ae_rsp_tid<2>" IOSTANDARD = HSTL_II_T_DCI;
NET "mc1_ae_rsp_tid<2>" LOC = "AL20";
NET "mc1_ae_rsp_tid<3>" IOSTANDARD = HSTL_II_T_DCI;
NET "mc1_ae_rsp_tid<3>" LOC = "AL21";
NET "mc2_ae_rsp_op" IOSTANDARD = HSTL_II_T_DCI;
NET "mc2_ae_rsp_op" LOC = "AV25";
NET "mc2_ae_rsp_par" IOSTANDARD = HSTL_II_T_DCI;
NET "mc2_ae_rsp_par" LOC = "AV26";
NET "mc2_ae_rsp_strb" IOSTANDARD = HSTL_II_T_DCI;
NET "mc2_ae_rsp_strb" LOC = "AU26";
NET "mc2_ae_rsp_tid<0>" IOSTANDARD = HSTL_II_T_DCI;
NET "mc2_ae_rsp_tid<0>" LOC = "AL25";
NET "mc2_ae_rsp_tid<1>" IOSTANDARD = HSTL_II_T_DCI;
NET "mc2_ae_rsp_tid<1>" LOC = "AK24";
NET "mc2_ae_rsp_tid<2>" IOSTANDARD = HSTL_II_T_DCI;
NET "mc2_ae_rsp_tid<2>" LOC = "AN23";
NET "mc2_ae_rsp_tid<3>" IOSTANDARD = HSTL_II_T_DCI;
NET "mc2_ae_rsp_tid<3>" LOC = "AM23";
NET "mc3_ae_rsp_op" IOSTANDARD = HSTL_II_T_DCI;
NET "mc3_ae_rsp_op" LOC = "AK28";
NET "mc3_ae_rsp_par" IOSTANDARD = HSTL_II_T_DCI;
NET "mc3_ae_rsp_par" LOC = "AJ28";
NET "mc3_ae_rsp_strb" IOSTANDARD = HSTL_II_T_DCI;
NET "mc3_ae_rsp_strb" LOC = "AU36";
NET "mc3_ae_rsp_tid<0>" IOSTANDARD = HSTL_II_T_DCI;
NET "mc3_ae_rsp_tid<0>" LOC = "AV35";
NET "mc3_ae_rsp_tid<1>" IOSTANDARD = HSTL_II_T_DCI;
NET "mc3_ae_rsp_tid<1>" LOC = "AW36";
NET "mc3_ae_rsp_tid<2>" IOSTANDARD = HSTL_II_T_DCI;
NET "mc3_ae_rsp_tid<2>" LOC = "AN31";
NET "mc3_ae_rsp_tid<3>" IOSTANDARD = HSTL_II_T_DCI;
NET "mc3_ae_rsp_tid<3>" LOC = "AN30";
NET "mc4_ae_rsp_op" IOSTANDARD = HSTL_II_T_DCI;
NET "mc4_ae_rsp_op" LOC = "F9";
NET "mc4_ae_rsp_par" IOSTANDARD = HSTL_II_T_DCI;
NET "mc4_ae_rsp_par" LOC = "F10";
NET "mc4_ae_rsp_strb" IOSTANDARD = HSTL_II_T_DCI;
NET "mc4_ae_rsp_strb" LOC = "J15";
NET "mc4_ae_rsp_tid<0>" IOSTANDARD = HSTL_II_T_DCI;
NET "mc4_ae_rsp_tid<0>" LOC = "F12";
NET "mc4_ae_rsp_tid<1>" IOSTANDARD = HSTL_II_T_DCI;
NET "mc4_ae_rsp_tid<1>" LOC = "F11";
NET "mc4_ae_rsp_tid<2>" IOSTANDARD = HSTL_II_T_DCI;
NET "mc4_ae_rsp_tid<2>" LOC = "B6";
NET "mc4_ae_rsp_tid<3>" IOSTANDARD = HSTL_II_T_DCI;
NET "mc4_ae_rsp_tid<3>" LOC = "C6";
NET "mc5_ae_rsp_op" IOSTANDARD = HSTL_II_T_DCI;
NET "mc5_ae_rsp_op" LOC = "E13";
NET "mc5_ae_rsp_par" IOSTANDARD = HSTL_II_T_DCI;
NET "mc5_ae_rsp_par" LOC = "D13";
NET "mc5_ae_rsp_strb" IOSTANDARD = HSTL_II_T_DCI;
NET "mc5_ae_rsp_strb" LOC = "D17";
NET "mc5_ae_rsp_tid<0>" IOSTANDARD = HSTL_II_T_DCI;
NET "mc5_ae_rsp_tid<0>" LOC = "H20";
NET "mc5_ae_rsp_tid<1>" IOSTANDARD = HSTL_II_T_DCI;
NET "mc5_ae_rsp_tid<1>" LOC = "G19";
NET "mc5_ae_rsp_tid<2>" IOSTANDARD = HSTL_II_T_DCI;
NET "mc5_ae_rsp_tid<2>" LOC = "A17";
NET "mc5_ae_rsp_tid<3>" IOSTANDARD = HSTL_II_T_DCI;
NET "mc5_ae_rsp_tid<3>" LOC = "A16";
NET "mc6_ae_rsp_op" IOSTANDARD = HSTL_II_T_DCI;
NET "mc6_ae_rsp_op" LOC = "M24";
NET "mc6_ae_rsp_par" IOSTANDARD = HSTL_II_T_DCI;
NET "mc6_ae_rsp_par" LOC = "L25";
NET "mc6_ae_rsp_strb" IOSTANDARD = HSTL_II_T_DCI;
NET "mc6_ae_rsp_strb" LOC = "F26";
NET "mc6_ae_rsp_tid<0>" IOSTANDARD = HSTL_II_T_DCI;
NET "mc6_ae_rsp_tid<0>" LOC = "D27";
NET "mc6_ae_rsp_tid<1>" IOSTANDARD = HSTL_II_T_DCI;
NET "mc6_ae_rsp_tid<1>" LOC = "E27";
NET "mc6_ae_rsp_tid<2>" IOSTANDARD = HSTL_II_T_DCI;
NET "mc6_ae_rsp_tid<2>" LOC = "A26";
NET "mc6_ae_rsp_tid<3>" IOSTANDARD = HSTL_II_T_DCI;
NET "mc6_ae_rsp_tid<3>" LOC = "A27";
NET "mc7_ae_rsp_op" IOSTANDARD = HSTL_II_T_DCI;
NET "mc7_ae_rsp_op" LOC = "F35";
NET "mc7_ae_rsp_par" IOSTANDARD = HSTL_II_T_DCI;
NET "mc7_ae_rsp_par" LOC = "F34";
NET "mc7_ae_rsp_strb" IOSTANDARD = HSTL_II_T_DCI;
NET "mc7_ae_rsp_strb" LOC = "D33";
NET "mc7_ae_rsp_tid<0>" IOSTANDARD = HSTL_II_T_DCI;
NET "mc7_ae_rsp_tid<0>" LOC = "E34";
NET "mc7_ae_rsp_tid<1>" IOSTANDARD = HSTL_II_T_DCI;
NET "mc7_ae_rsp_tid<1>" LOC = "D35";
NET "mc7_ae_rsp_tid<2>" IOSTANDARD = HSTL_II_T_DCI;
NET "mc7_ae_rsp_tid<2>" LOC = "B34";
NET "mc7_ae_rsp_tid<3>" IOSTANDARD = HSTL_II_T_DCI;
NET "mc7_ae_rsp_tid<3>" LOC = "C35";

#NET "prv_ae330_io_n<0>" IOSTANDARD = LVDS_25;
#NET "prv_ae330_io_n<0>" LOC = "AG8";
#NET "prv_ae330_io_n<1>" IOSTANDARD = LVDS_25;
#NET "prv_ae330_io_n<1>" LOC = "AE5";
#NET "prv_ae330_io_n<2>" IOSTANDARD = LVDS_25;
#NET "prv_ae330_io_n<2>" LOC = "AG4";
#NET "prv_ae330_io_n<3>" IOSTANDARD = LVDS_25;
#NET "prv_ae330_io_n<3>" LOC = "AD5";
#NET "prv_ae330_io_n<4>" IOSTANDARD = LVDS_25;
#NET "prv_ae330_io_n<4>" LOC = "AG3";
#NET "prv_ae330_io_n<5>" IOSTANDARD = LVDS_25;
#NET "prv_ae330_io_n<5>" LOC = "AD11";
#NET "prv_ae330_io_n<6>" IOSTANDARD = LVDS_25;
#NET "prv_ae330_io_n<6>" LOC = "AF9";
#NET "prv_ae330_io_n<7>" IOSTANDARD = LVDS_25;
#NET "prv_ae330_io_n<7>" LOC = "AJ2";
#NET "prv_ae330_io_n<8>" IOSTANDARD = LVDS_25;
#NET "prv_ae330_io_n<8>" LOC = "AG6";
#NET "prv_ae330_io_n<9>" IOSTANDARD = LVDS_25;
#NET "prv_ae330_io_n<9>" LOC = "AF1";
#NET "prv_ae330_io_n<10>" IOSTANDARD = LVDS_25;
#NET "prv_ae330_io_n<10>" LOC = "AD7";
#NET "prv_ae330_io_n<11>" IOSTANDARD = LVDS_25;
#NET "prv_ae330_io_n<11>" LOC = "AE4";
#NET "prv_ae330_io_n<12>" IOSTANDARD = LVDS_25;
#NET "prv_ae330_io_n<12>" LOC = "AF6";
#NET "prv_ae330_io_n<13>" IOSTANDARD = LVDS_25;
#NET "prv_ae330_io_n<13>" LOC = "AJ1";
#NET "prv_ae330_io_n<14>" IOSTANDARD = LVDS_25;
#NET "prv_ae330_io_n<14>" LOC = "AF11";
#NET "prv_ae330_io_n<15>" IOSTANDARD = LVDS_25;
#NET "prv_ae330_io_n<15>" LOC = "AF2";
#NET "prv_ae330_io_n<16>" IOSTANDARD = LVDS_25;
#NET "prv_ae330_io_n<16>" LOC = "AE8";
#NET "prv_ae330_io_n<17>" IOSTANDARD = LVDS_25;
#NET "prv_ae330_io_n<17>" LOC = "AG11";
NET "ae_sr_i_n<0>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_n<0>" LOC = "AG8";
NET "ae_sr_i_n<1>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_n<1>" LOC = "AE5";
NET "ae_sr_i_n<2>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_n<2>" LOC = "AG4";
NET "ae_sr_i_n<3>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_n<3>" LOC = "AD5";
NET "ae_sr_i_n<4>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_n<4>" LOC = "AG3";
NET "ae_sr_i_n<5>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_n<5>" LOC = "AD11"; 
NET "ae_sr_i_n<6>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_n<6>" LOC = "AF9";
NET "ae_sr_i_n<7>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_n<7>" LOC = "AJ2";
NET "ae_sr_i_n<8>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_n<8>" LOC = "AG6";
NET "ae_sr_i_n<9>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_n<9>" LOC = "AF1";
NET "ae_sr_i_n<10>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_n<10>" LOC = "AD7";
NET "ae_sr_i_n<11>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_n<11>" LOC = "AE4";
NET "ae_sr_i_n<12>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_n<12>" LOC = "AF6";
NET "ae_sr_i_n<13>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_n<13>" LOC = "AJ1";
NET "ae_sr_i_n<14>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_n<14>" LOC = "AF11";
NET "ae_sr_i_n<15>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_n<15>" LOC = "AF2";
NET "ae_sr_i_n<16>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_n<16>" LOC = "AE8";
NET "ae_sr_i_n<17>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_n<17>" LOC = "AG11";
NET "ae_sr_i_n<18>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_n<18>" LOC = "AC11";
NET "ae_sr_i_n<19>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_n<19>" LOC = "AE9";
NET "ae_sr_i_n<20>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_n<20>" LOC = "M6";
NET "ae_sr_i_n<21>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_n<21>" LOC = "E2";
NET "ae_sr_i_n<22>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_n<22>" LOC = "N4";
NET "ae_sr_i_n<23>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_n<23>" LOC = "P10";
NET "ae_sr_i_n<24>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_n<24>" LOC = "M3";
NET "ae_sr_i_n<25>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_n<25>" LOC = "G2";
NET "ae_sr_i_n<26>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_n<26>" LOC = "P7";
NET "ae_sr_i_n<27>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_n<27>" LOC = "N6";
NET "ae_sr_i_n<28>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_n<28>" LOC = "R8";
NET "ae_sr_i_n<29>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_n<29>" LOC = "K2";
NET "ae_sr_i_n<30>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_n<30>" LOC = "M4";
NET "ae_sr_i_n<31>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_n<31>" LOC = "J3";
NET "ae_sr_i_n<32>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_n<32>" LOC = "K4";
NET "ae_sr_i_n<33>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_n<33>" LOC = "F2";
NET "ae_sr_i_n<34>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_n<34>" LOC = "R10";
NET "ae_sr_i_n<35>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_n<35>" LOC = "M2";
NET "ae_sr_i_n<36>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_n<36>" LOC = "H1";
NET "ae_sr_i_n<37>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_n<37>" LOC = "P6";
NET "ae_sr_i_n<38>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_n<38>" LOC = "H3";
NET "ae_sr_i_n<39>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_n<39>" LOC = "T10";
#NET "prv_ae330_io<0>" IOSTANDARD = LVDS_25;
#NET "prv_ae330_io<0>" LOC = "AG9";
#NET "prv_ae330_io<1>" IOSTANDARD = LVDS_25;
#NET "prv_ae330_io<1>" LOC = "AF5";
#NET "prv_ae330_io<2>" IOSTANDARD = LVDS_25;
#NET "prv_ae330_io<2>" LOC = "AH4";
#NET "prv_ae330_io<3>" IOSTANDARD = LVDS_25;
#NET "prv_ae330_io<3>" LOC = "AD6";
#NET "prv_ae330_io<4>" IOSTANDARD = LVDS_25;
#NET "prv_ae330_io<4>" LOC = "AH3";
#NET "prv_ae330_io<5>" IOSTANDARD = LVDS_25;
#NET "prv_ae330_io<5>" LOC = "AD10";
#NET "prv_ae330_io<6>" IOSTANDARD = LVDS_25;
#NET "prv_ae330_io<6>" LOC = "AF10";
#NET "prv_ae330_io<7>" IOSTANDARD = LVDS_25;
#NET "prv_ae330_io<7>" LOC = "AJ3";
#NET "prv_ae330_io<8>" IOSTANDARD = LVDS_25;
#NET "prv_ae330_io<8>" LOC = "AG7";
#NET "prv_ae330_io<9>" IOSTANDARD = LVDS_25;
#NET "prv_ae330_io<9>" LOC = "AG1";
#NET "prv_ae330_io<10>" IOSTANDARD = LVDS_25;
#NET "prv_ae330_io<10>" LOC = "AE7";
#NET "prv_ae330_io<11>" IOSTANDARD = LVDS_25;
#NET "prv_ae330_io<11>" LOC = "AF4";
#NET "prv_ae330_io<12>" IOSTANDARD = LVDS_25;
#NET "prv_ae330_io<12>" LOC = "AF7";
#NET "prv_ae330_io<13>" IOSTANDARD = LVDS_25;
#NET "prv_ae330_io<13>" LOC = "AH1";
#NET "prv_ae330_io<14>" IOSTANDARD = LVDS_25;
#NET "prv_ae330_io<14>" LOC = "AF12";
#NET "prv_ae330_io<15>" IOSTANDARD = LVDS_25;
#NET "prv_ae330_io<15>" LOC = "AG2";
#NET "prv_ae330_io<16>" IOSTANDARD = LVDS_25;
#NET "prv_ae330_io<16>" LOC = "AD8";
#NET "prv_ae330_io<17>" IOSTANDARD = LVDS_25;
#NET "prv_ae330_io<17>" LOC = "AG12";
NET "ae_sr_i_p<0>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_p<0>" LOC = "AG9";
NET "ae_sr_i_p<1>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_p<1>" LOC = "AF5";
NET "ae_sr_i_p<2>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_p<2>" LOC = "AH4";
NET "ae_sr_i_p<3>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_p<3>" LOC = "AD6";
NET "ae_sr_i_p<4>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_p<4>" LOC = "AH3";
NET "ae_sr_i_p<5>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_p<5>" LOC = "AD10";
NET "ae_sr_i_p<6>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_p<6>" LOC = "AF10";
NET "ae_sr_i_p<7>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_p<7>" LOC = "AJ3";
NET "ae_sr_i_p<8>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_p<8>" LOC = "AG7";
NET "ae_sr_i_p<9>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_p<9>" LOC = "AG1";
NET "ae_sr_i_p<10>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_p<10>" LOC = "AE7"; 
NET "ae_sr_i_p<11>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_p<11>" LOC = "AF4";
NET "ae_sr_i_p<12>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_p<12>" LOC = "AF7";
NET "ae_sr_i_p<13>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_p<13>" LOC = "AH1";
NET "ae_sr_i_p<14>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_p<14>" LOC = "AF12";
NET "ae_sr_i_p<15>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_p<15>" LOC = "AG2";
NET "ae_sr_i_p<16>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_p<16>" LOC = "AD8";
NET "ae_sr_i_p<17>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_p<17>" LOC = "AG12";
NET "ae_sr_i_p<18>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_p<18>" LOC = "AC10";
NET "ae_sr_i_p<19>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_p<19>" LOC = "AE10";
NET "ae_sr_i_p<20>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_p<20>" LOC = "L5";
NET "ae_sr_i_p<21>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_p<21>" LOC = "D1";
NET "ae_sr_i_p<22>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_p<22>" LOC = "P5";
NET "ae_sr_i_p<23>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_p<23>" LOC = "R9";
NET "ae_sr_i_p<24>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_p<24>" LOC = "N3";
NET "ae_sr_i_p<25>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_p<25>" LOC = "G1";
NET "ae_sr_i_p<26>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_p<26>" LOC = "N8";
NET "ae_sr_i_p<27>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_p<27>" LOC = "N5";
NET "ae_sr_i_p<28>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_p<28>" LOC = "P8";
NET "ae_sr_i_p<29>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_p<29>" LOC = "L2";
NET "ae_sr_i_p<30>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_p<30>" LOC = "L4";
NET "ae_sr_i_p<31>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_p<31>" LOC = "J2";
NET "ae_sr_i_p<32>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_p<32>" LOC = "K3";
NET "ae_sr_i_p<33>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_p<33>" LOC = "F1";
NET "ae_sr_i_p<34>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_p<34>" LOC = "T9";
NET "ae_sr_i_p<35>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_p<35>" LOC = "L1";
NET "ae_sr_i_p<36>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_p<36>" LOC = "J1";
NET "ae_sr_i_p<37>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_p<37>" LOC = "R7";
NET "ae_sr_i_p<38>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_p<38>" LOC = "G3";
NET "ae_sr_i_p<39>" IOSTANDARD = LVDS_25;
NET "ae_sr_i_p<39>" LOC = "T11";
#NET "nxt_ae330_io_n<0>" IOSTANDARD = LVDS_25;
#NET "nxt_ae330_io_n<0>" LOC = "AD38";
#NET "nxt_ae330_io_n<1>" IOSTANDARD = LVDS_25;
#NET "nxt_ae330_io_n<1>" LOC = "AD35";
#NET "nxt_ae330_io_n<2>" IOSTANDARD = LVDS_25;
#NET "nxt_ae330_io_n<2>" LOC = "AF37";
#NET "nxt_ae330_io_n<3>" IOSTANDARD = LVDS_25;
#NET "nxt_ae330_io_n<3>" LOC = "AK40";
#NET "nxt_ae330_io_n<4>" IOSTANDARD = LVDS_25;
#NET "nxt_ae330_io_n<4>" LOC = "AG37";
#NET "nxt_ae330_io_n<5>" IOSTANDARD = LVDS_25;
#NET "nxt_ae330_io_n<5>" LOC = "AG41";
#NET "nxt_ae330_io_n<6>" IOSTANDARD = LVDS_25;
#NET "nxt_ae330_io_n<6>" LOC = "AE39";
#NET "nxt_ae330_io_n<7>" IOSTANDARD = LVDS_25;
#NET "nxt_ae330_io_n<7>" LOC = "AF35";
#NET "nxt_ae330_io_n<8>" IOSTANDARD = LVDS_25;
#NET "nxt_ae330_io_n<8>" LOC = "AE38";
#NET "nxt_ae330_io_n<9>" IOSTANDARD = LVDS_25;
#NET "nxt_ae330_io_n<9>" LOC = "AH40";
#NET "nxt_ae330_io_n<10>" IOSTANDARD = LVDS_25;
#NET "nxt_ae330_io_n<10>" LOC = "AF40";
#NET "nxt_ae330_io_n<11>" IOSTANDARD = LVDS_25;
#NET "nxt_ae330_io_n<11>" LOC = "AE35";
#NET "nxt_ae330_io_n<12>" IOSTANDARD = LVDS_25;
#NET "nxt_ae330_io_n<12>" LOC = "AL41";
#NET "nxt_ae330_io_n<13>" IOSTANDARD = LVDS_25;
#NET "nxt_ae330_io_n<13>" LOC = "AG39";
#NET "nxt_ae330_io_n<14>" IOSTANDARD = LVDS_25;
#NET "nxt_ae330_io_n<14>" LOC = "AE42";
#NET "nxt_ae330_io_n<15>" IOSTANDARD = LVDS_25;
#NET "nxt_ae330_io_n<15>" LOC = "AH39";
#NET "nxt_ae330_io_n<16>" IOSTANDARD = LVDS_25;
#NET "nxt_ae330_io_n<16>" LOC = "AK42";
#NET "nxt_ae330_io_n<17>" IOSTANDARD = LVDS_25;
#NET "nxt_ae330_io_n<17>" LOC = "AD41";
NET "ae_sr_o_n<0>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_n<0>" LOC = "AD38";
NET "ae_sr_o_n<1>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_n<1>" LOC = "AD35";
NET "ae_sr_o_n<3>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_n<3>" LOC = "AK40";
NET "ae_sr_o_n<4>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_n<4>" LOC = "AG37";
NET "ae_sr_o_n<5>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_n<5>" LOC = "AG41";
NET "ae_sr_o_n<6>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_n<6>" LOC = "AE39";
NET "ae_sr_o_n<7>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_n<7>" LOC = "AF35";
NET "ae_sr_o_n<8>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_n<8>" LOC = "AE38";
NET "ae_sr_o_n<9>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_n<9>" LOC = "AH40";
NET "ae_sr_o_n<10>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_n<10>" LOC = "AF40";
NET "ae_sr_o_n<11>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_n<11>" LOC = "AE35";
NET "ae_sr_o_n<12>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_n<12>" LOC = "AL41";
NET "ae_sr_o_n<13>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_n<13>" LOC = "AG39";
NET "ae_sr_o_n<14>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_n<14>" LOC = "AE42";
NET "ae_sr_o_n<15>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_n<15>" LOC = "AH39";
NET "ae_sr_o_n<16>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_n<16>" LOC = "AK42";
NET "ae_sr_o_n<17>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_n<17>" LOC = "AD41";
NET "ae_sr_o_n<18>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_n<18>" LOC = "AJ42";
NET "ae_sr_o_n<19>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_n<19>" LOC = "AF41";
NET "ae_sr_o_n<20>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_n<20>" LOC = "G41";
NET "ae_sr_o_n<21>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_n<21>" LOC = "P37";
NET "ae_sr_o_n<22>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_n<22>" LOC = "R32";
NET "ae_sr_o_n<23>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_n<23>" LOC = "K40";
NET "ae_sr_o_n<24>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_n<24>" LOC = "T32";
NET "ae_sr_o_n<25>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_n<25>" LOC = "L39";
NET "ae_sr_o_n<26>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_n<26>" LOC = "N36";
NET "ae_sr_o_n<27>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_n<27>" LOC = "R35";
NET "ae_sr_o_n<28>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_n<28>" LOC = "N35";
NET "ae_sr_o_n<29>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_n<29>" LOC = "U32";
NET "ae_sr_o_n<30>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_n<30>" LOC = "K39";
NET "ae_sr_o_n<31>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_n<31>" LOC = "H41";
NET "ae_sr_o_n<32>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_n<32>" LOC = "F42";
NET "ae_sr_o_n<33>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_n<33>" LOC = "N38";
NET "ae_sr_o_n<34>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_n<34>" LOC = "M37";
NET "ae_sr_o_n<35>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_n<35>" LOC = "T34";
NET "ae_sr_o_n<36>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_n<36>" LOC = "J41";
NET "ae_sr_o_n<37>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_n<37>" LOC = "P35";
NET "ae_sr_o_n<38>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_n<38>" LOC = "L41";
NET "ae_sr_o_n<39>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_n<39>" LOC = "L37";
#NET "nxt_ae330_io<0>" IOSTANDARD = LVDS_25;
#NET "nxt_ae330_io<0>" LOC = "AD37";
#NET "nxt_ae330_io<1>" IOSTANDARD = LVDS_25;
#NET "nxt_ae330_io<1>" LOC = "AD36";
#NET "nxt_ae330_io<2>" IOSTANDARD = LVDS_25;
#NET "nxt_ae330_io<2>" LOC = "AF36";
#NET "nxt_ae330_io<3>" IOSTANDARD = LVDS_25;
#NET "nxt_ae330_io<3>" LOC = "AL40";
#NET "nxt_ae330_io<4>" IOSTANDARD = LVDS_25;
#NET "nxt_ae330_io<4>" LOC = "AG36";
#NET "nxt_ae330_io<5>" IOSTANDARD = LVDS_25;
#NET "nxt_ae330_io<5>" LOC = "AH41";
#NET "nxt_ae330_io<6>" IOSTANDARD = LVDS_25;
#NET "nxt_ae330_io<6>" LOC = "AF39";
#NET "nxt_ae330_io<7>" IOSTANDARD = LVDS_25;
#NET "nxt_ae330_io<7>" LOC = "AF34";
#NET "nxt_ae330_io<8>" IOSTANDARD = LVDS_25;
#NET "nxt_ae330_io<8>" LOC = "AE37";
#NET "nxt_ae330_io<9>" IOSTANDARD = LVDS_25;
#NET "nxt_ae330_io<9>" LOC = "AJ40";
#NET "nxt_ae330_io<10>" IOSTANDARD = LVDS_25;
#NET "nxt_ae330_io<10>" LOC = "AE40";
#NET "nxt_ae330_io<11>" IOSTANDARD = LVDS_25;
#NET "nxt_ae330_io<11>" LOC = "AE34";
#NET "nxt_ae330_io<12>" IOSTANDARD = LVDS_25;
#NET "nxt_ae330_io<12>" LOC = "AM42";
#NET "nxt_ae330_io<13>" IOSTANDARD = LVDS_25;
#NET "nxt_ae330_io<13>" LOC = "AG38";
#NET "nxt_ae330_io<14>" IOSTANDARD = LVDS_25;
#NET "nxt_ae330_io<14>" LOC = "AF42";
#NET "nxt_ae330_io<15>" IOSTANDARD = LVDS_25;
#NET "nxt_ae330_io<15>" LOC = "AH38";
#NET "nxt_ae330_io<16>" IOSTANDARD = LVDS_25;
#NET "nxt_ae330_io<16>" LOC = "AL42";
#NET "nxt_ae330_io<17>" IOSTANDARD = LVDS_25;
#NET "nxt_ae330_io<17>" LOC = "AD40";
#NET "ae_sr_o_p<18>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_p<0>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_p<0>" LOC = "AD37";
NET "ae_sr_o_p<1>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_p<1>" LOC = "AD36";
NET "ae_sr_o_p<2>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_p<2>" LOC = "AF36";
NET "ae_sr_o_p<3>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_p<3>" LOC = "AL40";
NET "ae_sr_o_p<4>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_p<4>" LOC = "AG36";
NET "ae_sr_o_p<5>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_p<5>" LOC = "AH41";
NET "ae_sr_o_p<6>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_p<6>" LOC = "AF39";
NET "ae_sr_o_p<7>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_p<7>" LOC = "AF34";
NET "ae_sr_o_p<8>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_p<8>" LOC = "AE37";
NET "ae_sr_o_p<9>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_p<9>" LOC = "AJ40";
NET "ae_sr_o_p<10>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_p<10>" LOC = "AE40";
NET "ae_sr_o_p<11>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_p<11>" LOC = "AE34";
NET "ae_sr_o_p<12>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_p<12>" LOC = "AM42";
NET "ae_sr_o_p<13>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_p<13>" LOC = "AG38";
NET "ae_sr_o_p<14>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_p<14>" LOC = "AF42";
NET "ae_sr_o_p<15>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_p<15>" LOC = "AH38";
NET "ae_sr_o_p<16>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_p<16>" LOC = "AL42";
NET "ae_sr_o_p<17>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_p<17>" LOC = "AD40";
NET "ae_sr_o_p<18>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_p<18>" LOC = "AJ41";
NET "ae_sr_o_p<19>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_p<19>" LOC = "AG42";
NET "ae_sr_o_p<20>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_p<20>" LOC = "H40";
NET "ae_sr_o_p<21>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_p<21>" LOC = "P38";
NET "ae_sr_o_p<22>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_p<22>" LOC = "R33";
NET "ae_sr_o_p<23>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_p<23>" LOC = "L40";
NET "ae_sr_o_p<24>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_p<24>" LOC = "T31";
NET "ae_sr_o_p<25>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_p<25>" LOC = "M39";
NET "ae_sr_o_p<26>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_p<26>" LOC = "P36";
NET "ae_sr_o_p<27>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_p<27>" LOC = "T35";
NET "ae_sr_o_p<28>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_p<28>" LOC = "M36";
NET "ae_sr_o_p<29>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_p<29>" LOC = "U31";
NET "ae_sr_o_p<30>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_p<30>" LOC = "J40";
NET "ae_sr_o_p<31>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_p<31>" LOC = "J42";
NET "ae_sr_o_p<32>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_p<32>" LOC = "G42";
NET "ae_sr_o_p<33>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_p<33>" LOC = "N39";
NET "ae_sr_o_p<34>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_p<34>" LOC = "M38";
NET "ae_sr_o_p<35>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_p<35>" LOC = "U33";
NET "ae_sr_o_p<36>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_p<36>" LOC = "K42";
NET "ae_sr_o_p<37>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_p<37>" LOC = "R34";
NET "ae_sr_o_p<38>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_p<38>" LOC = "L42";
NET "ae_sr_o_p<39>" IOSTANDARD = LVDS_25;
NET "ae_sr_o_p<39>" LOC = "K38";

NET "brev<0>" IOSTANDARD = LVCMOS15 | PULLUP;
NET "brev<0>" LOC = "AN41";
NET "brev<1>" IOSTANDARD = LVCMOS15 | PULLUP;
NET "brev<1>" LOC = "AJ35";
NET "brev<2>" IOSTANDARD = LVCMOS15 | PULLUP;
NET "brev<2>" LOC = "AK35";
NET "brev<3>" IOSTANDARD = LVCMOS15 | PULLUP;
NET "brev<3>" LOC = "AU42";
NET "cfg_csr_ad<0>" IOSTANDARD = LVCMOS15 | SLEW= FAST | DRIVE= 8 | KEEPER;
NET "cfg_csr_ad<0>" LOC = "AM34";
NET "cfg_csr_ad<1>" IOSTANDARD = LVCMOS15 | SLEW= FAST | DRIVE= 8 | KEEPER;
NET "cfg_csr_ad<1>" LOC = "AM33";
NET "cfg_csr_ad<2>" IOSTANDARD = LVCMOS15 | SLEW= FAST | DRIVE= 8 | KEEPER;
NET "cfg_csr_ad<2>" LOC = "AN35";
NET "cfg_csr_ad<3>" IOSTANDARD = LVCMOS15 | SLEW= FAST | DRIVE= 8 | KEEPER;
NET "cfg_csr_ad<3>" LOC = "AN34";
NET "cfg_csr_ad<4>" IOSTANDARD = LVCMOS15 | SLEW= FAST | DRIVE= 8 | KEEPER;
NET "cfg_csr_ad<4>" LOC = "AL34";
NET "cfg_csr_ad<5>" IOSTANDARD = LVCMOS15 | SLEW= FAST | DRIVE= 8 | KEEPER;
NET "cfg_csr_ad<5>" LOC = "AL35";
NET "cfg_csr_ad<6>" IOSTANDARD = LVCMOS15 | SLEW= FAST | DRIVE= 8 | KEEPER;
NET "cfg_csr_ad<6>" LOC = "AM38";
NET "cfg_csr_ad<7>" IOSTANDARD = LVCMOS15 | SLEW= FAST | DRIVE= 8 | KEEPER;
NET "cfg_csr_ad<7>" LOC = "AN38";
NET "cfg_csr_cs_f" IOSTANDARD = LVCMOS15 | PULLUP;
NET "cfg_csr_cs_f" LOC = "AK38";

NET "clk_ref_n" IOSTANDARD = LVDS_25;
NET "clk_ref_n" LOC = "AL37";
NET "clk_ref_p" IOSTANDARD = LVDS_25;
NET "clk_ref_p" LOC = "AL36";
NET "csr_ad_par" IOSTANDARD = LVCMOS15 | SLEW= FAST | DRIVE= 8 | KEEPER;
NET "csr_ad_par" LOC = "AR40";
NET "csr_ad_perr" IOSTANDARD = LVCMOS15 | SLEW= FAST | DRIVE= 8 | PULLUP;
NET "csr_ad_perr" LOC = "AR42";
NET "csr_clk_in" IOSTANDARD = LVCMOS15;
NET "csr_clk_in" LOC = "AH11";
NET "csr_pm_trg_in" IOSTANDARD = LVCMOS15 | PULLDOWN;
NET "csr_pm_trg_in" LOC = "AL39";
NET "csr_rd_val_n" IOSTANDARD = LVCMOS15 | SLEW= FAST | DRIVE= 8 | PULLUP;
NET "csr_rd_val_n" LOC = "AF31";
NET "csr_rsvd" IOSTANDARD = LVCMOS15 | PULLDOWN;
NET "csr_rsvd" LOC = "AH33";
NET "csr_start_pkt" IOSTANDARD = LVCMOS15 | PULLDOWN;
NET "csr_start_pkt" LOC = "AJ37";
NET "csr_stat_push" IOSTANDARD = LVCMOS15 | SLEW= FAST | DRIVE= 8;
NET "csr_stat_push" LOC = "AP42";

NET "dcm_lock_f" IOSTANDARD = LVCMOS15 | SLEW= FAST | DRIVE= 8;
NET "dcm_lock_f" LOC = "AE33";
NET "fpga_err_f" IOSTANDARD = LVCMOS15 | SLEW= FAST | DRIVE= 8;
NET "fpga_err_f" LOC = "AE32";
NET "fpga_int_f" IOSTANDARD = LVCMOS15 | SLEW= FAST | DRIVE= 8;
NET "fpga_int_f" LOC = "AT40";

NET "hsdp_in_n<0>" IOSTANDARD = LVDS_25;
NET "hsdp_in_n<0>" LOC = "U7";
NET "hsdp_in_n<1>" IOSTANDARD = LVDS_25;
NET "hsdp_in_n<1>" LOC = "U1";
NET "hsdp_in_n<2>" IOSTANDARD = LVDS_25;
NET "hsdp_in_n<2>" LOC = "R2";
NET "hsdp_in_n<3>" IOSTANDARD = LVDS_25;
NET "hsdp_in_n<3>" LOC = "T2";
NET "hsdp_in_n<4>" IOSTANDARD = LVDS_25;
NET "hsdp_in_n<4>" LOC = "W5";
NET "hsdp_in_n<5>" IOSTANDARD = LVDS_25;
NET "hsdp_in_n<5>" LOC = "U3";
NET "hsdp_in_n<6>" IOSTANDARD = LVDS_25;
NET "hsdp_in_n<6>" LOC = "U9";
NET "hsdp_in_n<7>" IOSTANDARD = LVDS_25;
NET "hsdp_in_n<7>" LOC = "W10";
NET "hsdp_in_n<8>" IOSTANDARD = LVDS_25;
NET "hsdp_in_n<8>" LOC = "T4";
NET "hsdp_in_n<9>" IOSTANDARD = LVDS_25;
NET "hsdp_in_n<9>" LOC = "V6";
NET "hsdp_in_n<10>" IOSTANDARD = LVDS_25;
NET "hsdp_in_n<10>" LOC = "T7";
NET "hsdp_in_n<11>" IOSTANDARD = LVDS_25;
NET "hsdp_in_n<11>" LOC = "W7";
NET "hsdp_in_n<12>" IOSTANDARD = LVDS_25;
NET "hsdp_in_n<12>" LOC = "V11";
NET "hsdp_in_n<13>" IOSTANDARD = LVDS_25;
NET "hsdp_in_n<13>" LOC = "V3";
NET "hsdp_in_n<14>" IOSTANDARD = LVDS_25;
NET "hsdp_in_n<14>" LOC = "T5";
NET "hsdp_in_n<15>" IOSTANDARD = LVDS_25;
NET "hsdp_in_n<15>" LOC = "U4";
NET "hsdp_in_n<16>" IOSTANDARD = LVDS_25;
NET "hsdp_in_n<16>" LOC = "P3";
NET "hsdp_in_n<17>" IOSTANDARD = LVDS_25;
NET "hsdp_in_n<17>" LOC = "V10";
NET "hsdp_in_n<18>" IOSTANDARD = LVDS_25;
NET "hsdp_in_n<18>" LOC = "M1";
NET "hsdp_in_n<19>" IOSTANDARD = LVDS_25;
NET "hsdp_in_n<19>" LOC = "R5";
NET "hsdp_in_p<0>" IOSTANDARD = LVDS_25;
NET "hsdp_in_p<0>" LOC = "V8";
NET "hsdp_in_p<1>" IOSTANDARD = LVDS_25;
NET "hsdp_in_p<1>" LOC = "V1";
NET "hsdp_in_p<2>" IOSTANDARD = LVDS_25;
NET "hsdp_in_p<2>" LOC = "P1";
NET "hsdp_in_p<3>" IOSTANDARD = LVDS_25;
NET "hsdp_in_p<3>" LOC = "T1";
NET "hsdp_in_p<4>" IOSTANDARD = LVDS_25;
NET "hsdp_in_p<4>" LOC = "W6";
NET "hsdp_in_p<5>" IOSTANDARD = LVDS_25;
NET "hsdp_in_p<5>" LOC = "U2";
NET "hsdp_in_p<6>" IOSTANDARD = LVDS_25;
NET "hsdp_in_p<6>" LOC = "U8";
NET "hsdp_in_p<7>" IOSTANDARD = LVDS_25;
NET "hsdp_in_p<7>" LOC = "W11";
NET "hsdp_in_p<8>" IOSTANDARD = LVDS_25;
NET "hsdp_in_p<8>" LOC = "R3";
NET "hsdp_in_p<9>" IOSTANDARD = LVDS_25;
NET "hsdp_in_p<9>" LOC = "V5";
NET "hsdp_in_p<10>" IOSTANDARD = LVDS_25;
NET "hsdp_in_p<10>" LOC = "T6";
NET "hsdp_in_p<11>" IOSTANDARD = LVDS_25;
NET "hsdp_in_p<11>" LOC = "W8";
NET "hsdp_in_p<12>" IOSTANDARD = LVDS_25;
NET "hsdp_in_p<12>" LOC = "U11";
NET "hsdp_in_p<13>" IOSTANDARD = LVDS_25;
NET "hsdp_in_p<13>" LOC = "W3";
NET "hsdp_in_p<14>" IOSTANDARD = LVDS_25;
NET "hsdp_in_p<14>" LOC = "U6";
NET "hsdp_in_p<15>" IOSTANDARD = LVDS_25;
NET "hsdp_in_p<15>" LOC = "V4";
NET "hsdp_in_p<16>" IOSTANDARD = LVDS_25;
NET "hsdp_in_p<16>" LOC = "P2";
NET "hsdp_in_p<17>" IOSTANDARD = LVDS_25;
NET "hsdp_in_p<17>" LOC = "V9";
NET "hsdp_in_p<18>" IOSTANDARD = LVDS_25;
NET "hsdp_in_p<18>" LOC = "N1";
NET "hsdp_in_p<19>" IOSTANDARD = LVDS_25;
NET "hsdp_in_p<19>" LOC = "R4";
NET "hsdp_out_n<0>" IOSTANDARD = LVDS_25;
NET "hsdp_out_n<0>" LOC = "Y9";
NET "hsdp_out_n<1>" IOSTANDARD = LVDS_25;
NET "hsdp_out_n<1>" LOC = "AE2";
NET "hsdp_out_n<2>" IOSTANDARD = LVDS_25;
NET "hsdp_out_n<2>" LOC = "AB11";
NET "hsdp_out_n<3>" IOSTANDARD = LVDS_25;
NET "hsdp_out_n<3>" LOC = "AC1";
NET "hsdp_out_n<4>" IOSTANDARD = LVDS_25;
NET "hsdp_out_n<4>" LOC = "AB6";
NET "hsdp_out_n<5>" IOSTANDARD = LVDS_25;
NET "hsdp_out_n<5>" LOC = "AD2";
NET "hsdp_out_n<6>" IOSTANDARD = LVDS_25;
NET "hsdp_out_n<6>" LOC = "Y4";
NET "hsdp_out_n<7>" IOSTANDARD = LVDS_25;
NET "hsdp_out_n<7>" LOC = "AC8";
NET "hsdp_out_n<8>" IOSTANDARD = LVDS_25;
NET "hsdp_out_n<8>" LOC = "AA11";
NET "hsdp_out_n<9>" IOSTANDARD = LVDS_25;
NET "hsdp_out_n<9>" LOC = "AB4";
NET "hsdp_out_n<10>" IOSTANDARD = LVDS_25;
NET "hsdp_out_n<10>" LOC = "Y8";
NET "hsdp_out_n<11>" IOSTANDARD = LVDS_25;
NET "hsdp_out_n<11>" LOC = "AB2";
NET "hsdp_out_n<12>" IOSTANDARD = LVDS_25;
NET "hsdp_out_n<12>" LOC = "AA2";
NET "hsdp_out_n<13>" IOSTANDARD = LVDS_25;
NET "hsdp_out_n<13>" LOC = "AB3";
NET "hsdp_out_n<14>" IOSTANDARD = LVDS_25;
NET "hsdp_out_n<14>" LOC = "AA5";
NET "hsdp_out_n<15>" IOSTANDARD = LVDS_25;
NET "hsdp_out_n<15>" LOC = "AC5";
NET "hsdp_out_n<16>" IOSTANDARD = LVDS_25;
NET "hsdp_out_n<16>" LOC = "Y2";
NET "hsdp_out_n<17>" IOSTANDARD = LVDS_25;
NET "hsdp_out_n<17>" LOC = "AB8";
NET "hsdp_out_n<18>" IOSTANDARD = LVDS_25;
NET "hsdp_out_n<18>" LOC = "W2";
NET "hsdp_out_n<19>" IOSTANDARD = LVDS_25;
NET "hsdp_out_n<19>" LOC = "AA7";
NET "hsdp_out_p<0>" IOSTANDARD = LVDS_25;
NET "hsdp_out_p<0>" LOC = "AA9";
NET "hsdp_out_p<1>" IOSTANDARD = LVDS_25;
NET "hsdp_out_p<1>" LOC = "AE3";
NET "hsdp_out_p<2>" IOSTANDARD = LVDS_25;
NET "hsdp_out_p<2>" LOC = "AA10";
NET "hsdp_out_p<3>" IOSTANDARD = LVDS_25;
NET "hsdp_out_p<3>" LOC = "AD1";
NET "hsdp_out_p<4>" IOSTANDARD = LVDS_25;
NET "hsdp_out_p<4>" LOC = "AB7";
NET "hsdp_out_p<5>" IOSTANDARD = LVDS_25;
NET "hsdp_out_p<5>" LOC = "AD3";
NET "hsdp_out_p<6>" IOSTANDARD = LVDS_25;
NET "hsdp_out_p<6>" LOC = "Y5";
NET "hsdp_out_p<7>" IOSTANDARD = LVDS_25;
NET "hsdp_out_p<7>" LOC = "AC9";
NET "hsdp_out_p<8>" IOSTANDARD = LVDS_25;
NET "hsdp_out_p<8>" LOC = "Y10";
NET "hsdp_out_p<9>" IOSTANDARD = LVDS_25;
NET "hsdp_out_p<9>" LOC = "AC4";
NET "hsdp_out_p<10>" IOSTANDARD = LVDS_25;
NET "hsdp_out_p<10>" LOC = "Y7";
NET "hsdp_out_p<11>" IOSTANDARD = LVDS_25;
NET "hsdp_out_p<11>" LOC = "AB1";
NET "hsdp_out_p<12>" IOSTANDARD = LVDS_25;
NET "hsdp_out_p<12>" LOC = "AA1";
NET "hsdp_out_p<13>" IOSTANDARD = LVDS_25;
NET "hsdp_out_p<13>" LOC = "AC3";
NET "hsdp_out_p<14>" IOSTANDARD = LVDS_25;
NET "hsdp_out_p<14>" LOC = "AA4";
NET "hsdp_out_p<15>" IOSTANDARD = LVDS_25;
NET "hsdp_out_p<15>" LOC = "AC6";
NET "hsdp_out_p<16>" IOSTANDARD = LVDS_25;
NET "hsdp_out_p<16>" LOC = "Y3";
NET "hsdp_out_p<17>" IOSTANDARD = LVDS_25;
NET "hsdp_out_p<17>" LOC = "AB9";
NET "hsdp_out_p<18>" IOSTANDARD = LVDS_25;
NET "hsdp_out_p<18>" LOC = "W1";
NET "hsdp_out_p<19>" IOSTANDARD = LVDS_25;
NET "hsdp_out_p<19>" LOC = "AA6";

NET "nxt_ae_dq_i_n<0>" IOSTANDARD = LVDS_25;
NET "nxt_ae_dq_i_n<0>" LOC = "T39";
NET "nxt_ae_dq_i_n<1>" IOSTANDARD = LVDS_25;
NET "nxt_ae_dq_i_n<1>" LOC = "T36";
NET "nxt_ae_dq_i_n<2>" IOSTANDARD = LVDS_25;
NET "nxt_ae_dq_i_n<2>" LOC = "W36";
NET "nxt_ae_dq_i_n<3>" IOSTANDARD = LVDS_25;
NET "nxt_ae_dq_i_n<3>" LOC = "T37";
NET "nxt_ae_dq_i_n<4>" IOSTANDARD = LVDS_25;
NET "nxt_ae_dq_i_n<4>" LOC = "V39";
NET "nxt_ae_dq_i_n<5>" IOSTANDARD = LVDS_25;
NET "nxt_ae_dq_i_n<5>" LOC = "V33";
NET "nxt_ae_dq_i_n<6>" IOSTANDARD = LVDS_25;
NET "nxt_ae_dq_i_n<6>" LOC = "U36";
NET "nxt_ae_dq_i_n<7>" IOSTANDARD = LVDS_25;
NET "nxt_ae_dq_i_n<7>" LOC = "M41";
NET "nxt_ae_dq_i_n<8>" IOSTANDARD = LVDS_25;
NET "nxt_ae_dq_i_n<8>" LOC = "R38";
#NET "nxt_ae_dq_i<0>" IOSTANDARD = LVDS_25;
#NET "nxt_ae_dq_i<0>" LOC = "T40";
#NET "nxt_ae_dq_i<1>" IOSTANDARD = LVDS_25;
#NET "nxt_ae_dq_i<1>" LOC = "R37";
#NET "nxt_ae_dq_i<2>" IOSTANDARD = LVDS_25;
#NET "nxt_ae_dq_i<2>" LOC = "W35";
#NET "nxt_ae_dq_i<3>" IOSTANDARD = LVDS_25;
#NET "nxt_ae_dq_i<3>" LOC = "U37";
#NET "nxt_ae_dq_i<4>" IOSTANDARD = LVDS_25;
#NET "nxt_ae_dq_i<4>" LOC = "U39";
#NET "nxt_ae_dq_i<5>" IOSTANDARD = LVDS_25;
#NET "nxt_ae_dq_i<5>" LOC = "U34";
#NET "nxt_ae_dq_i<6>" IOSTANDARD = LVDS_25;
#NET "nxt_ae_dq_i<6>" LOC = "V36";
#NET "nxt_ae_dq_i<7>" IOSTANDARD = LVDS_25;
#NET "nxt_ae_dq_i<7>" LOC = "M42";
#NET "nxt_ae_dq_i<8>" IOSTANDARD = LVDS_25;
#NET "nxt_ae_dq_i<8>" LOC = "R39";
NET "nxt_ae_dq_o_n<0>" IOSTANDARD = LVDS_25;
NET "nxt_ae_dq_o_n<0>" LOC = "AC35";
NET "nxt_ae_dq_o_n<1>" IOSTANDARD = LVDS_25;
NET "nxt_ae_dq_o_n<1>" LOC = "W42";
NET "nxt_ae_dq_o_n<2>" IOSTANDARD = LVDS_25;
NET "nxt_ae_dq_o_n<2>" LOC = "AC39";
NET "nxt_ae_dq_o_n<3>" IOSTANDARD = LVDS_25;
NET "nxt_ae_dq_o_n<3>" LOC = "Y39";
NET "nxt_ae_dq_o_n<4>" IOSTANDARD = LVDS_25;
NET "nxt_ae_dq_o_n<4>" LOC = "AB36";
NET "nxt_ae_dq_o_n<5>" IOSTANDARD = LVDS_25;
NET "nxt_ae_dq_o_n<5>" LOC = "W40";
NET "nxt_ae_dq_o_n<6>" IOSTANDARD = LVDS_25;
NET "nxt_ae_dq_o_n<6>" LOC = "AA34";
NET "nxt_ae_dq_o_n<7>" IOSTANDARD = LVDS_25;
NET "nxt_ae_dq_o_n<7>" LOC = "Y34";
NET "nxt_ae_dq_o_n<8>" IOSTANDARD = LVDS_25;
NET "nxt_ae_dq_o_n<8>" LOC = "Y37";
#NET "nxt_ae_dq_o<0>" IOSTANDARD = LVDS_25;
#NET "nxt_ae_dq_o<0>" LOC = "AC34";
#NET "nxt_ae_dq_o<1>" IOSTANDARD = LVDS_25;
#NET "nxt_ae_dq_o<1>" LOC = "W41";
#NET "nxt_ae_dq_o<2>" IOSTANDARD = LVDS_25;
#NET "nxt_ae_dq_o<2>" LOC = "AC38";
#NET "nxt_ae_dq_o<3>" IOSTANDARD = LVDS_25;
#NET "nxt_ae_dq_o<3>" LOC = "AA39";
#NET "nxt_ae_dq_o<4>" IOSTANDARD = LVDS_25;
#NET "nxt_ae_dq_o<4>" LOC = "AC36";
#NET "nxt_ae_dq_o<5>" IOSTANDARD = LVDS_25;
#NET "nxt_ae_dq_o<5>" LOC = "V41";
#NET "nxt_ae_dq_o<6>" IOSTANDARD = LVDS_25;
#NET "nxt_ae_dq_o<6>" LOC = "AB34";
#NET "nxt_ae_dq_o<7>" IOSTANDARD = LVDS_25;
#NET "nxt_ae_dq_o<7>" LOC = "Y35";
#NET "nxt_ae_dq_o<8>" IOSTANDARD = LVDS_25;
#NET "nxt_ae_dq_o<8>" LOC = "Y38";
NET "nxt_ae_stb_i_n" IOSTANDARD = LVDS_25;
NET "nxt_ae_stb_i_n" LOC = "N40";
#NET "nxt_ae_stb_i" IOSTANDARD = LVDS_25;
#NET "nxt_ae_stb_i" LOC = "N41";
NET "nxt_ae_stb_o_n" IOSTANDARD = LVDS_25;
NET "nxt_ae_stb_o_n" LOC = "Y40";
#NET "nxt_ae_stb_o" IOSTANDARD = LVDS_25;
#NET "nxt_ae_stb_o" LOC = "AA40";

NET "prv_ae_dq_i_n<0>" IOSTANDARD = LVDS_25;
NET "prv_ae_dq_i_n<0>" LOC = "V40";
NET "prv_ae_dq_i_n<1>" IOSTANDARD = LVDS_25;
NET "prv_ae_dq_i_n<1>" LOC = "T41";
NET "prv_ae_dq_i_n<2>" IOSTANDARD = LVDS_25;
NET "prv_ae_dq_i_n<2>" LOC = "Y33";
NET "prv_ae_dq_i_n<3>" IOSTANDARD = LVDS_25;
NET "prv_ae_dq_i_n<3>" LOC = "P42";
NET "prv_ae_dq_i_n<4>" IOSTANDARD = LVDS_25;
NET "prv_ae_dq_i_n<4>" LOC = "V34";
NET "prv_ae_dq_i_n<5>" IOSTANDARD = LVDS_25;
NET "prv_ae_dq_i_n<5>" LOC = "T42";
NET "prv_ae_dq_i_n<6>" IOSTANDARD = LVDS_25;
NET "prv_ae_dq_i_n<6>" LOC = "W33";
NET "prv_ae_dq_i_n<7>" IOSTANDARD = LVDS_25;
NET "prv_ae_dq_i_n<7>" LOC = "W37";
NET "prv_ae_dq_i_n<8>" IOSTANDARD = LVDS_25;
NET "prv_ae_dq_i_n<8>" LOC = "P40";
#NET "prv_ae_dq_i<0>" IOSTANDARD = LVDS_25;
#NET "prv_ae_dq_i<0>" LOC = "U41";
#NET "prv_ae_dq_i<1>" IOSTANDARD = LVDS_25;
#NET "prv_ae_dq_i<1>" LOC = "R42";
#NET "prv_ae_dq_i<2>" IOSTANDARD = LVDS_25;
#NET "prv_ae_dq_i<2>" LOC = "Y32";
#NET "prv_ae_dq_i<3>" IOSTANDARD = LVDS_25;
#NET "prv_ae_dq_i<3>" LOC = "P41";
#NET "prv_ae_dq_i<4>" IOSTANDARD = LVDS_25;
#NET "prv_ae_dq_i<4>" LOC = "V35";
#NET "prv_ae_dq_i<5>" IOSTANDARD = LVDS_25;
#NET "prv_ae_dq_i<5>" LOC = "U42";
#NET "prv_ae_dq_i<6>" IOSTANDARD = LVDS_25;
#NET "prv_ae_dq_i<6>" LOC = "W32";
#NET "prv_ae_dq_i<7>" IOSTANDARD = LVDS_25;
#NET "prv_ae_dq_i<7>" LOC = "W38";
#NET "prv_ae_dq_i<8>" IOSTANDARD = LVDS_25;
#NET "prv_ae_dq_i<8>" LOC = "R40";
NET "prv_ae_dq_o_n<0>" IOSTANDARD = LVDS_25;
NET "prv_ae_dq_o_n<0>" LOC = "AC41";
NET "prv_ae_dq_o_n<1>" IOSTANDARD = LVDS_25;
NET "prv_ae_dq_o_n<1>" LOC = "AA35";
NET "prv_ae_dq_o_n<2>" IOSTANDARD = LVDS_25;
NET "prv_ae_dq_o_n<2>" LOC = "AD32";
NET "prv_ae_dq_o_n<3>" IOSTANDARD = LVDS_25;
NET "prv_ae_dq_o_n<3>" LOC = "AB38";
NET "prv_ae_dq_o_n<4>" IOSTANDARD = LVDS_25;
NET "prv_ae_dq_o_n<4>" LOC = "Y42";
NET "prv_ae_dq_o_n<5>" IOSTANDARD = LVDS_25;
NET "prv_ae_dq_o_n<5>" LOC = "AB32";
NET "prv_ae_dq_o_n<6>" IOSTANDARD = LVDS_25;
NET "prv_ae_dq_o_n<6>" LOC = "AB33";
NET "prv_ae_dq_o_n<7>" IOSTANDARD = LVDS_25;
NET "prv_ae_dq_o_n<7>" LOC = "AA42";
NET "prv_ae_dq_o_n<8>" IOSTANDARD = LVDS_25;
NET "prv_ae_dq_o_n<8>" LOC = "AC40";
#NET "prv_ae_dq_o<0>" IOSTANDARD = LVDS_25;
#NET "prv_ae_dq_o<0>" LOC = "AD42";
#NET "prv_ae_dq_o<1>" IOSTANDARD = LVDS_25;
#NET "prv_ae_dq_o<1>" LOC = "AA36";
#NET "prv_ae_dq_o<2>" IOSTANDARD = LVDS_25;
#NET "prv_ae_dq_o<2>" LOC = "AD33";
#NET "prv_ae_dq_o<3>" IOSTANDARD = LVDS_25;
#NET "prv_ae_dq_o<3>" LOC = "AB39";
#NET "prv_ae_dq_o<4>" IOSTANDARD = LVDS_25;
#NET "prv_ae_dq_o<4>" LOC = "AA41";
#NET "prv_ae_dq_o<5>" IOSTANDARD = LVDS_25;
#NET "prv_ae_dq_o<5>" LOC = "AC33";
#NET "prv_ae_dq_o<6>" IOSTANDARD = LVDS_25;
#NET "prv_ae_dq_o<6>" LOC = "AA32";
#NET "prv_ae_dq_o<7>" IOSTANDARD = LVDS_25;
#NET "prv_ae_dq_o<7>" LOC = "AB42";
#NET "prv_ae_dq_o<8>" IOSTANDARD = LVDS_25;
#NET "prv_ae_dq_o<8>" LOC = "AB41";
NET "prv_ae_stb_i_n" IOSTANDARD = LVDS_25;
NET "prv_ae_stb_i_n" LOC = "U38";
#NET "prv_ae_stb_i" IOSTANDARD = LVDS_25;
#NET "prv_ae_stb_i" LOC = "V38";
NET "prv_ae_stb_o_n" IOSTANDARD = LVDS_25;
NET "prv_ae_stb_o_n" LOC = "AA37";
#NET "prv_ae_stb_o" IOSTANDARD = LVDS_25;
#NET "prv_ae_stb_o" LOC = "AB37";

NET "reset_f" IOSTANDARD = LVCMOS15 | PULLUP;
NET "reset_f" LOC = "AM39";

NET "vis_clk" IOSTANDARD = LVDCI_15;
NET "vis_clk" LOC = "F41";
NET "vis_data<0>" IOSTANDARD = LVDCI_15;
NET "vis_data<0>" LOC = "J35";
NET "vis_data<1>" IOSTANDARD = LVDCI_15;
NET "vis_data<1>" LOC = "K34";
NET "vis_data<2>" IOSTANDARD = LVDCI_15;
NET "vis_data<2>" LOC = "D41";
NET "vis_data<3>" IOSTANDARD = LVDCI_15;
NET "vis_data<3>" LOC = "D42";
NET "vis_data<4>" IOSTANDARD = LVDCI_15;
NET "vis_data<4>" LOC = "L36";
NET "vis_data<5>" IOSTANDARD = LVDCI_15;
NET "vis_data<5>" LOC = "K37";
NET "vis_data<6>" IOSTANDARD = LVDCI_15;
NET "vis_data<6>" LOC = "D40";
NET "vis_data<7>" IOSTANDARD = LVDCI_15;
NET "vis_data<7>" LOC = "P32";
NET "vis_data<8>" IOSTANDARD = LVDCI_15;
NET "vis_data<8>" LOC = "N33";
NET "vis_data<9>" IOSTANDARD = LVDCI_15;
NET "vis_data<9>" LOC = "L34";
NET "vis_data<10>" IOSTANDARD = LVDCI_15;
NET "vis_data<10>" LOC = "M33";
NET "vis_data<11>" IOSTANDARD = LVDCI_15;
NET "vis_data<11>" LOC = "J37";
NET "vis_data<12>" IOSTANDARD = LVDCI_15;
NET "vis_data<12>" LOC = "J38";
NET "vis_data<13>" IOSTANDARD = LVDCI_15;
NET "vis_data<13>" LOC = "C40";
NET "vis_data<14>" IOSTANDARD = LVDCI_15;
NET "vis_data<14>" LOC = "C41";
NET "vis_data<15>" IOSTANDARD = LVDCI_15;
NET "vis_data<15>" LOC = "N34";
NET "vis_data<16>" IOSTANDARD = LVDCI_15;
NET "vis_data<16>" LOC = "P33";
NET "vis_data<17>" IOSTANDARD = LVDCI_15;
NET "vis_data<17>" LOC = "B42";
NET "vis_data<18>" IOSTANDARD = LVDCI_15;
NET "vis_data<18>" LOC = "B41";
NET "vis_data<19>" IOSTANDARD = LVDCI_15;
NET "vis_data<19>" LOC = "M34";
NET "vis_data<20>" IOSTANDARD = LVDCI_15;
NET "vis_data<20>" LOC = "L35";
NET "vis_data<21>" IOSTANDARD = LVDCI_15;
NET "vis_data<21>" LOC = "E38";
NET "vis_data<22>" IOSTANDARD = LVDCI_15;
NET "vis_data<22>" LOC = "E39";
NET "vis_data<23>" IOSTANDARD = LVDCI_15;
NET "vis_data<23>" LOC = "H38";
NET "vis_data<24>" IOSTANDARD = LVDCI_15;
NET "vis_data<24>" LOC = "A40";
NET "vis_data<25>" IOSTANDARD = LVDCI_15;
NET "vis_data<25>" LOC = "A41";
NET "vis_data<26>" IOSTANDARD = LVDCI_15;
NET "vis_data<26>" LOC = "F39";
NET "vis_data<27>" IOSTANDARD = LVDCI_15;
NET "vis_data<27>" LOC = "F40";
NET "vis_data<28>" IOSTANDARD = LVDCI_15;
NET "vis_data<28>" LOC = "C39";
NET "vis_data<29>" IOSTANDARD = LVDCI_15;
NET "vis_data<29>" LOC = "B39";
NET "vis_data<30>" IOSTANDARD = LVDCI_15;
NET "vis_data<30>" LOC = "H36";
NET "vis_data<31>" IOSTANDARD = LVDCI_15;
NET "vis_data<31>" LOC = "G37";
NET "vis_frm" IOSTANDARD = LVDCI_15;
NET "vis_frm" LOC = "E42";

#NEW PINS
#NET "vref_left_pwm" IOSTANDARD=HSTL_II;
#NET "vref_left_pwm" LOC= "AH29";
#NET "vref_right_pwm" IOSTANDARD=HSTL_II;
#NET "vref_right_pwm" LOC= "P11";

#CLK VIS
# IO BANK 47 UNUSED SIGNALS

NET "clk167_vis_n"  IOSTANDARD = "LVDCI_DV2_15";
NET "clk167_vis_n"  LOC = "J5";
NET "clk167_vis_p"  IOSTANDARD = "LVDCI_DV2_15";
NET "clk167_vis_p"  LOC = "K5";

NET "clk333_vis_n"  IOSTANDARD = "LVDCI_DV2_15";
NET "clk333_vis_n"  LOC = "L9";
NET "clk333_vis_p"  IOSTANDARD = "LVDCI_DV2_15";
NET "clk333_vis_p"  LOC = "M9";

NET "clk83_vis_n"  IOSTANDARD = "LVDCI_DV2_15";
NET "clk83_vis_n"  LOC = "B2";
NET "clk83_vis_p"  IOSTANDARD = "LVDCI_DV2_15";
NET "clk83_vis_p"  LOC = "B1";

#NET "clkio2_vis_n"  IOSTANDARD = "LVDCI_DV2_15";
#NET "clkio2_vis_n"  LOC = "D2";
#NET "clkio2_vis_p"  IOSTANDARD = "LVDCI_DV2_15";
#NET "clkio2_vis_p"  LOC = "C1";

#NET "clkio_vis_n"  IOSTANDARD = "LVDCI_DV2_15";
#NET "clkio_vis_n"  LOC = "N11";
#NET "clkio_vis_p"  IOSTANDARD = "LVDCI_DV2_15";
#NET "clkio_vis_p"  LOC = "M11";

