# 150 Mhz
NET "clk_ref_p" TNM_NET = "TN_CLK";
TIMESPEC "TS_CLK" = PERIOD "TN_CLK" 6.667 ns HIGH 50 %;

# CSR clock
NET "csr_clk_in" TNM_NET = "TN_CSR_CLK";
TIMESPEC "TS_CSR_CLK" = PERIOD "TN_CSR_CLK" 13.333 ns HIGH 50 %;

NET "clk_ref_p" TNM = "TNM_CLK";

NET "ae_top/i_csr_clk" TNM = "TNM_CSR_CLK";
NET "ae_top/i_clk_csr" TNM = "TNM_CLKCSR";
TIMESPEC "TS_CLKCSR_TO_CSR_CLK" = FROM "TNM_CLKCSR" TO "TNM_CSR_CLK" 10ns DATAPATHONLY;
TIMESPEC "TS_CSR_CLK_TO_CLKCSR" = FROM "TNM_CSR_CLK" TO "TNM_CLKCSR" 10ns DATAPATHONLY;

NET "ae_top/i_clk" TNM = "TNM_CLK";

# Async paths
NET "clk_ref_n" TIG;
NET "aeid[*]" TIG; 
NET "brev[*]" TIG; 
NET "csr_rsvd" TIG;

# False paths
NET "*_FaLsE_*" TIG;

# ignore csr paths
NET "ae_top/o_csr_ixdr_bump_en" TIG; 
NET "ae_top/o_csr_ixdr_algn_en" TIG; 
NET "ae_top/o_csr_maxdrift[*]" TIG; 
NET "ae_top/core/csr_31_31_intlv_dis" TIG; 
NET "ae_top/core/csr_aehq_inst[*]" TIG; 
NET "ae_top/core/csr_aehq_data[*]" TIG; 
NET "ae_top/i_fpga_err_f" TIG;

NET "ae_top/core/r_csr_mc*_res_tid[*]" TIG; 
NET "ae_top/core/csr_act_tid_vis[*]" TIG; 
NET "ae_top/core/csr_mc*_rq_adr_vis[*]" TIG; 
NET "ae_top/core/csr_mcif_tm[*]" TIG; 
NET "ae_top/core/csr_mc*_radr[*]" TIG; 

NET "ae_top/core/csr_mcif_enabled[*]" TIG;

# ignore placeholder hsdp nets
NET "ae_top/i_hsdp[*]" TIG;

# MC csr ports
#INST "ae_top/core/mc*/ae_mc_if/mc_rq/r100/q_*" TNM = "TNM_MC_CSR";
#INST "ae_top/core/mc*/ae_mc_if/mc_rs/r100/q" TNM = "TNM_MC_CSR";
#INST "ae_top/core/mc*/ae_mc_if/mc_rs/r101/q" TNM = "TNM_MC_CSR";
#INST "ae_top/core/mc*/ae_mc_if/mc_rs/r102/q" TNM = "TNM_MC_CSR";
#INST "ae_top/core/mc*/ae_mc_if/mc_rs/r103/q" TNM = "TNM_MC_CSR";
#INST "ae_top/core/mc*/ae_mc_if/mc_rs/r104/q" TNM = "TNM_MC_CSR";
#INST "ae_top/core/mc*/ae_mc_if/mc_rs/r105/q_*" TNM = "TNM_MC_CSR";
#INST "ae_top/core/mc*/ae_mc_if/tidchkr/r200/q" TNM = "TNM_MC_CSR";
INST "ae_top/core/mc*/ae_mc_if/tidchkr/r201/q" TNM = "TNM_MC_CSR";
INST "ae_top/core/mc*/ae_mc_if/tidchkr/r202/q" TNM = "TNM_MC_CSR";
TIMESPEC "TS_MC_CSR_TIG" = TO "TNM_MC_CSR" TIG;

INST "ae_top/core/csr_top/agent/r8/q_*" TNM = "TNM_CSR_FUNC_RD_DATA";
NET "ae_top/i_aeh_vis*[*]" TNM = "TNM_IAS_VIS"; 
TIMESPEC "TS_IAS_VIS" = FROM "TNM_IAS_VIS" TO "TNM_CSR_FUNC_RD_DATA" TIG;

INST "ae_top/core/mc_csr*/agent/r8/q_*" TNM = "TNM_MC_CSR_FUNC_RD_DATA";
NET "ae_top/i_mc*_vis[*]" TNM = "TNM_MC_VIS"; 
TIMESPEC "TS_MC_VIS" = FROM "TNM_MC_VIS" TO "TNM_MC_CSR_FUNC_RD_DATA" TIG;

# ISE 12.x IODELAYE1 Tiodcko_DATAOUT, and CLKMUX paths
NET "ae_top/io/*/clkio_s" TNM = "TNM_IDELAY";
TIMESPEC "TS_IDELAY" = FROM "TNM_CLK" TO "TNM_IDELAY" TIG;

INST "ae_top/io/*/r_late_io_clk_sel" TNM = "TNM_PHY_SEL";
TIMESPEC "TS_PHY_SEL" = FROM "TNM_PHY_SEL" TIG;
